<window title="Requisitos para Nuevo Atleta" id="winRequisitos" border="normal" height="550px" width="900px" hflex="1" closable="true" 
			maximizable="true" action="hide: slideUp" apply="org.zkoss.bind.BindComposer" style="overflow:auto">
	<div align="center">
		<image src="/source/images/requisitosAtleta.png"/>
	</div>	
</window>