<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<?page title="" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="vistaEncuesta" title="Encuesta"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer"  viewModel="@id('vmEncuesta') @init('edu.ucla.siged.viewmodel.gestionencuestas.VMEncuesta')">
		<vbox vflex="1">
			<tabbox>
				<tabs>
					<tab id= "tabEncuesta" label="Datos del Encuesta" 	/>
					<tab id= "tabPreguntas" label="Pregunta"	/>
					<tab id= "tabPublico" label="Público"	/>
				</tabs>
				<tabpanels>
	 				<tabpanel>				
 					 	<grid>
				<rows>	
					<row spans="1,1">
						<label value="Nombre:" />	
						<textbox id="txtNombre" constraint="no empty: Ingrese un nombre" width="100%" value="@bind(vmEncuesta.encuesta.nombre)" maxlength="100" class="encuestaRestriccion"/>
					</row>
					<row spans="1,1">
						<label value="Descripcion:"/>
						<textbox id="txtDescripcion" constraint="no empty : Ingrese una descripción" width="100%" value="@bind(vmEncuesta.encuesta.descripcion)" maxlength="250" class="encuestaRestriccion"/>
					</row>
					<row spans="1,1">
						<label value="Fecha Registro:"/>
						<datebox id="dtbFechaRegistro" format="dd/MM/yyyy" value="@bind(vmEncuesta.encuesta.fechaRegistro)" disabled="true" class="encuestaRestriccion"/>
					</row>
					<row spans="1,1">
						<label value="Instrucciones:"/>
						<textbox id="txtInstrucciones" constraint="no empty: Ingrese sólo letras" width="100%" value="@bind(vmEncuesta.encuesta.instrucciones)" class="encuestaRestriccion" maxlength="250"/>
					</row>
					<row spans="1,1">
						<label value="Fecha Inicio:"/>
						<datebox id="dtbFechaInicio" format="dd/MM/yyyy" value="@bind(vmEncuesta.encuesta.fechaInicio)" disabled="false" class="encuestaRestriccion" readonly="true" constraint="no empty, no past" />
					</row>
					<row spans="1,1">
						<label value="Fecha Fin:"/>
						<datebox id="dtbFechaFin" format="dd/MM/yyyy" value="@bind(vmEncuesta.encuesta.fechaFin)" disabled="false" class="encuestaRestriccion" readonly="true" constraint="no empty, no past"/>
					</row>
					</rows>
				</grid>  	
			
			</tabpanel>
		
			<tabpanel>
			<grid >
				<rows >
					<row spans="1,1,1">
						<label value="Pregunta"/>
						<textbox id="txtPregunta" constraint="no empty: Ingrese una pregunta" width="100%" value="@bind(vmEncuesta.pregunta.descripcion)" class="encuestaRestriccion" maxlength="150"/>
					</row>		
						<row spans="1,1,1">
						<label value="Opción"/>
						<textbox id="txtOpcion" constraint="no empty: Ingrese una opcion" width="100%" value="@bind(vmEncuesta.opcion.descripcion)" maxlength="150"/>	
						<button image="/source/images/iconos/ic_agregar.png"  label="Agregar Opción"  id="btnAgregarOpcion"  onClick="@command('agregarOpcionPregunta')" />
					</row>			
				</rows>
			</grid>
				<radiogroup id="sv1" onCheck="" />
				<listbox id="lstOpciones" model="@bind(vmEncuesta.listaOpcionesPregunta)" height="300px" checkmark="false" multiple="false" 
					         emptyMessage="No hay opciones registradas para la pregunta">

						<listhead>
							
             				<listheader label="Descripción Opción" 			width="50%"/>
				            <listheader label="Opciones"/>
						</listhead>
        
        				<template name="model" var="opcionPregunta">
					    <listitem>
					    	
					    	<listcell>
					    	<radio label="@bind(opcionPregunta.descripcion)" radiogroup="sv1" />
					    	</listcell> 
					     					    
						  	<listcell>			        
					            <button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarOpcionPregunta', opcionPreguntaSeleccionada=opcionPregunta)"/>
					       	</listcell>  
					       	      
					    </listitem>
        				</template>
    				</listbox>
				</tabpanel>
				
				<tabpanel>
				<grid>
					<rows >
						<row spans="1,1,1,1">
						<label value="Rol"/>
						<combobox id="cmbRol" readonly="true" autodrop="true"
								width="80%" model="@load(vmEncuesta.listaRoles)"
						        selectedItem="@bind(vmEncuesta.rolSeleccionado)">
								<template name="model">
						  		 	<comboitem label="@load(each.nombre)" /> 
						  		</template>
						</combobox>	
						<label value="Permiso"/>
						<combobox id="cmbPermiso" readonly="true" autodrop="true"
								width="80%" model="@load(vmEncuesta.listaPermisos)"
						        selectedItem="@bind(vmEncuesta.permisoSeleccionado)">
								<template name="model">
						  		 	<comboitem label="@load(vmEncuesta.verPermiso(each))" /> 
						  		</template>
						</combobox>	
						<button image="/source/images/iconos/ic_agregar.png"  label="Agregar"  id="btnAgregarPublico"  onClick="@command('agregarPublico')" />
						</row>		
					</rows>
				</grid>	
				<listbox id="listPublicos" model="@bind(vmEncuesta.listaPublicos)" height="100%" 
					         emptyMessage="Encuesta Para Todo Publico" >

						<listhead>
							<listheader label="Rol" 						width="35%"/>
             				<listheader label="Responder Encuesta" 			width="20%"/>
             				<listheader label="Ver Resultados" 				width="20%"/>
				            <listheader label="Opciones"/>
						</listhead>
        
        				<template name="model" var="publico">
					    <listitem>
					    	
					    	<listcell label="@bind(publico.rol.nombre)" />  				    	
					    	<listcell label="@load(vmEncuesta.verPermisoPublico(publico.responder))"/>  
					    	<listcell label="@load(vmEncuesta.verPermisoPublico(publico.verResultados))"/>  
							<listcell>			        
					            <button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarPublico', publicoSeleccionado=publico)"/>
					       	</listcell>  
					    </listitem>
        				</template>
    				</listbox>
				</tabpanel>
				
				</tabpanels>		
			</tabbox>	
		</vbox>
		<toolbar align="end">
				<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarEncuesta') @global-command('actualizarLista')" />
		  	 	<button image="/source/images/iconos/ic_limpiar.png"  label="Limpiar" onClick="@command('limpiarEncuesta')"/>
		 </toolbar>
	</window>
</zk>