<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="listaSugerencia" title="Responder Contactos" border="normal" closable="true" height="100%" 
			apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.portalprincipal.VMListaContacto')">
		<vbox vflex="1">
			<listbox id= "lstContacto" model="@bind(vm.listaSugerencias)" multiple= "true" 
					selectedItems="@bind(vm.sugerenciasSeleccionadas)" hflex="true" height="100%" 
					emptyMessage="No hay Contactos esperando por respuesta">
				<listhead>
					<listheader label="Autor" 			width="10%"/>
					<listheader label="Celular" 		width="15%"/>
					<listheader label="Email" 			width="15%"/>				
					<listheader label="Fecha Emisión"	width="15%"/>
					<listheader label="Descripción"		width="15%"/>
					<listheader label="Opciones"/> 
				</listhead>
				<template name="model" var="suger"> 
					<listitem>
						<listcell label="@bind(suger.autor)"/>				 
						<listcell label="@bind(suger.celular)"/>
						<listcell label="@bind(suger.email)"/>
						<listcell label="@load(vm.formatearFecha(suger.fechaEmision))"/>
						<listcell label="@bind(suger.descripcion)"/>
						<listcell>		          							
		                    <button image="/source/images/iconos/ic_editarUsuario.png"   label="Responder"  onClick="@command('responderSugerencia', sugerenciaSeleccionada=suger)"/>
               			</listcell>
					</listitem>
				</template> 
			</listbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
		</vbox>
	</window>
</zk>