<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>

<window id="wndGestionEquipoAsignarAtletaEquipo" title="Conformación de Equipos"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer" onClose="@command('cerrarVentana')" 
  		    viewModel="@id('vmAtletaEquipo') @init('edu.ucla.siged.viewmodel.gestionequipos.VMAsignarAtletaEquipo')">
	<vbox  vflex="1">		
		<grid>
			<columns>
				<column width="15%"/>
				<column width="35%"/>
				<column width="15%"/>
				<column width="35%"/>
			</columns>
				<rows>
					<row spans="1,1,1,1">
						<label value="Nombre:" />
	       				<textbox id="txtNombreEquipo" width="90%"  readonly="true"  value="@bind(vmAtletaEquipo.equipo.nombre)"/>
						<label value="Tipo de Equipo" />
						<textbox id="txtTipoEquipo" width="80" readonly="true" value="@bind(vmAtletaEquipo.equipo.tipoEquipo.descripcion)"/>
					</row>
					<row spans="1,1,1,1">
						<label value="Categoría" />
	       				<textbox id="txtCategoria" width="90%"  readonly="true"  value="@bind(vmAtletaEquipo.equipo.categoria.nombre)"/>
						<label value="Rango" />
						<textbox id="txtRango" width="80" readonly="true" value="@bind(vmAtletaEquipo.equipo.rango.descripcion)"/>
					</row>
					<row spans="1,1,1,1">
					    <label value="Cupos Disponibles" />
						<textbox id="txtCuposTotales" width="20%" readonly="true" value="@bind(vmAtletaEquipo.cuposTotales)"/>			
					</row>
				</rows>							
		</grid>	
		
		<grid sclass="fgrid">
			<columns>
				<column width="100%"/>
			</columns>
			<rows>						
				<row spans="1,1,1">
					<hbox>
						<panel title="Atletas por Asignar">
							<panelchildren>
								<listbox id="ltbAtletasDisponibles" width="100%" height="100%" oddRowSclass="non-odd" emptyMessage="No hay atletas registrados" 
								 checkmark="true" multiple= "true"  
								 model="@bind(vmAtletaEquipo.atletasDisponibles)" selectedItems="@bind(vmAtletaEquipo.selection1)">
									<listhead>
										<listheader align="center" width="9%"/>
										<listheader	label="Nombre" width="30%"/>
										<listheader	label="Apellido" width="30%"/>
										<listheader	label="Edad" width="30%"/>
									</listhead>
									<template
										name="model" var="itemAtletaD">
										<listitem>
											<listcell/>
		 									<listcell label="@bind(itemAtletaD.nombre)" />
											<listcell label="@bind(itemAtletaD.apellido)" />
											<listcell label="@bind(vmAtletaEquipo.verEdad(itemAtletaD.fechaNacimiento))" />
										</listitem>
									</template>
								</listbox>
							</panelchildren>
						</panel>
			
						<panel>
							<panelchildren>
							<div align="center">
								<button id="btnAgregarAtleta" tooltiptext="asignar atleta" sclass="btn" image="/source/images/iconos/ic_irAdelante.png" onClick="@command('asignarAtleta')"/>
								<separator />
								<button id="btnRemoverAtleta" tooltiptext="remover atleta" sclass="btn" image="/source/images/iconos/ic_irAtras.png"    onClick="@command('removerAtleta')"/>
							</div>
							</panelchildren>
						</panel>
		
						<panel title="Atletas Asignados">
							<panelchildren>
								<listbox id="ltbAtletasAsignados" width="100%"  height="100%" oddRowSclass="non-odd" emptyMessage="No se han asignado atletas" 
								checkmark="true" multiple= "true" 
								model="@bind(vmAtletaEquipo.atletasAsignados)"  selectedItems="@bind(vmAtletaEquipo.selection2)" >
									<listhead>
										<listheader align="center" width="9%"/>
										<listheader	label="Nombre" width="30%"/>
										<listheader	label="Apellido" width="30%"/>
										<listheader	label="Edad" width="30%"/>
									</listhead>
									<template name="model" var="itemAtletaA">
										<listitem>
											<listcell />
		 									<listcell label="@bind(itemAtletaA.nombre)" />
											<listcell label="@bind(itemAtletaA.apellido)" />
											<listcell label="@bind(vmAtletaEquipo.verEdad(itemAtletaA.fechaNacimiento))" />
										</listitem>
									</template>
								</listbox>
							</panelchildren>
						</panel>
					</hbox>
				</row>
			</rows>
		</grid>

	</vbox>
	<toolbar align="end">
	<toolbarbutton label=""/>
		<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardar')" />
  	 	<button image="/source/images/iconos/ic_limpiar2.png" label="Limpiar" onClick="@global-command('limpiarCampos')"  />
 </toolbar>
</window>
</zk>