<?page title="" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="vistaEquipoHorario" title="Registrar horario a equipo"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer"  viewModel="@id('vmEquipoHorario') @init('edu.ucla.siged.viewmodel.gestionequipos.VMEquipoHorario')" >
  		    
		<vbox vflex="1">
			<grid>
				<rows >
					<row spans="1,4">
						<label value="Equipo:"/>
						<textbox id="TxtEquipo" value="@bind(vmEquipoHorario.equipo.nombre)"  width="93.5%" readonly="true" />
					</row>
					<row spans="1,4">
						<label value="Día"/>							
						<combobox id="cmbTipoEquipo" readonly="true" autodrop="true" constraint="no empty"
						    width="93.5%" model="@load(vmEquipoHorario.listaDias)"
						    selectedItem="@bind(vmEquipoHorario.diaTexto)"
					      	placeholder="Seleccione un día"> 								           
					  		<template name="model">
					  			<comboitem label="@load(each)" />
					  		</template>
						</combobox>
					</row>
					<row spans="1,1,1,1,1">
						 <label id="lbl1" value="Hora Inicio: "/>
						 <timebox id="tmbHoraInicio" value="@bind(vmEquipoHorario.horaInicio)" cols="12" width="54%" format="hh:mm a" constraint='no empty' class="juego_restriccion" />
						 <label id="lbl2" value="Hora Fin: "/>
						 <timebox id="tmbHoraFin" value="@bind(vmEquipoHorario.horaFin)" cols="12" width="54%" format="hh:mm a" constraint='no empty' class="juego_restriccion" />
						 <button image="/source/images/iconos/ic_agregar.png"  label="Agregar"  id="btnAgregar"  onClick="@command('agregarEquipoHorario')" />  
					</row>					
				</rows>
			</grid>
			<toolbar>		
				<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" id="btnEliminar" onClick="@command('eliminarHorarios')" />
			</toolbar>
			<listbox id="listbox" model="@bind(vmEquipoHorario.listaEquiposPracticas)" height="100%" checkmark="true" multiple="true" 
					         mold="paging" pageSize="10" emptyMessage="No hay horarios de prácticas registrados para este equipo"
					         selectedItems="@bind(vmEquipoHorario.listasEquiposPracticasSeleccionados)">
				<listhead>
					<listheader align="center"	  	width="5%" />
	          		<listheader label="Dia" 		width="25%"/>
		            <listheader label="Hora Inicio" width="15%"/>
		            <listheader label="Hora Fin"  	width="15%"/>
		            <listheader label="Opciones"/>
				</listhead>
        
  				<template name="model" var="itemEquipoHorario">
   				<listitem>
				   	<listcell/>
				   	<listcell label="@load(vmEquipoHorario.verDiaTexto(itemEquipoHorario.dia))"/>
				   	<listcell label="@load(vmEquipoHorario.formatearHora(itemEquipoHorario.horaInicio))"/>
				   	<listcell label="@load(vmEquipoHorario.formatearHora(itemEquipoHorario.horaFin))"/>
				   	<listcell>			        
				    	<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarHorarioEquipo', equipoHorarioSeleccionado=itemEquipoHorario)"/>
				    </listcell>        
   				</listitem>
  				</template>
    		</listbox>	
		</vbox>
<toolbar mold="panel"  align="end">
	<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarHorario',ventanaEquipoHorario=vistaEquipoHorario)" />
	<button image="/source/images/iconos/ic_limpiar2.png" label="Limpiar" onClick="@command('limpiarHorario')"  />			
</toolbar>
</window>
</zk>