.contenedor{
	border-top:10px solid;
border-color: #223B73;
	background-color:#f2f2f2;
	color: #4966A6;
}
.caja{
	margin-top: 20px;
}
.pie{
	border-top: 10px solid;
	border-color: #223B73;
	background-color:#4966A6;
	color: #c9b46a;;
}
.breadcrumb .home-icon {
  color: #555;
}
.breadcrumb .home-icon {
  margin-left: 4px;
  margin-right: 2px;
  font-size: 20px;
  position: relative;
  top: 2px;
  cursor: default;
}