<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="vistaListaTecnico" title="Tecnicos" border="normal" maximizable="true" closable="true" height="100%"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('vmListaTecnico') @init('edu.ucla.siged.viewmodel.gestionrecursostecnicos.VMListaTecnico')">
		<vbox vflex="1">
			<toolbar>
				<button image="/source/images/iconos/ic_agregar.png" label="Agregar"  onClick="@command('agregarTecnico')" />
				<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarTecnicos')"  />
			</toolbar>
	<listbox id= "lstTecnicos" model="@bind(vmListaTecnico.listaTecnicos)" checkmark= "true" multiple= "true" 
					selectedItems="@bind(vmListaTecnico.tecnicosSeleccionados)" hflex="true" height="100%" 
					emptyMessage="No hay Tecnicos registrados actualmente">
		<auxhead sclass="category-center"> 
			<auxheader/>
			<auxheader colspan="1"> 
				<textbox instant="true" value="@bind(vmListaTecnico.cedula)"  width="80%" placeholder="EJEMPLO:V17364343"
						 constraint="/[V|E][0-9]{7,10}/:Por Favor Introduzca una cedula valida" maxlength="11"/> 
			</auxheader>
			<auxheader colspan="1"> 
				<textbox instant="true" value="@bind(vmListaTecnico.nombre)"  width="80%" placeholder="EJEMPLO: CESAR"     
					     constraint="/[A-Z|\s]*/:Por favor Introduzca solo letras Mayusculas"/> 
			</auxheader>
			<auxheader colspan="1"> 
				<datebox instant="true" value="@bind(vmListaTecnico.fechaAdmision)"  width="80%" format="dd/MM/yyyy" placeholder="EJ:11/10/2015"/>
			</auxheader>
			<auxheader colspan="1"> 
			
			</auxheader>
			<auxheader colspan="1"> 
				<button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('ejecutarFiltro')"/>
		        <button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
			</auxheader>
			</auxhead>
		<listhead>
			<listheader width="5%"  align="center"/>
			<listheader label="Cedula" 				width="20%" sort="cedula"/>
			<listheader label="Nombre" 				width="20%" sort="nombre"/>
			<listheader label="Fecha Admision." 	width="15%" sort="fechaAdmision"  />
			<listheader label="Foto" 				width="15%" sort="foto"/>
			<listheader label="Opciones" 			width="25%"/>
		</listhead>
		
		<template name="model" var="item">
		<listitem>
			<listcell/>
			<listcell label="@bind(item.cedula)"/>				 
			<listcell label="@bind(item.nombre)"/>
			<listcell label="@load(vmListaTecnico.cambiarFormatoFecha(item.fechaAdmision))" />
			<listcell>
				<image height="30px" width="60px" content="@bind(item.foto.getAImage())"/>
			</listcell> 
			<listcell>
				<button image="/source/images/iconos/ic_editar.png"   label="Editar"   onClick="@command('editarTecnico', tecnicoSeleccionado=item)"/>	                   		                     
                <button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarTecnico', tecnicoSeleccionado=item)"/>		                      
           	</listcell>
		</listitem>
		</template>
	</listbox>
	  <paging onPaging="@global-command('paginar')" activePage="@bind(vmListaTecnico.paginaActual)" totalSize="@bind(vmListaTecnico.registrosTotales)" pageSize="@bind(vmListaTecnico.tamanoPagina)"/>						
 </vbox>
 </window>
</zk>