<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="vistaListaAnotador" title="Anotadores" border="normal" closable="true" height="100%" 
			apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestionrecursostecnicos.VMListaAnotador')">
		<vbox vflex="1">
		
		<toolbar>
			<button image="/source/images/iconos/ic_agregar.png"  id="btnAgregar"  label="Agregar"  onClick="@command('agregarAnotador')"/>
	        <button image="/source/images/iconos/ic_eliminar.png" id="btnEliminar" label="Eliminar" onClick="@command('eliminarAnotadores')"/>
	   	</toolbar>
		
			<listbox id= "lstAnotadores" model="@bind(vm.listaAnotadores)" checkmark= "true" multiple= "true" 
					selectedItems="@bind(vm.anotadoresSeleccionados)" hflex="true" height="100%" 
					emptyMessage="No hay Anotadores registrados actualmente">
			
	       	<auxhead sclass="category-center">
		       	<auxheader/>
	            <auxheader colspan="1">
	                <textbox instant="true" value="@bind(vm.cedula)"  	width="80%"  placeholder="V17364343" maxlength="10"
							 constraint="/[V|E][0-9]{7,10}/:Por Favor Introduzca una cedula valida" />
	            </auxheader>
	            <auxheader colspan="1">
	                <textbox instant="true" value="@bind(vm.nombre)"  	width="80%" placeholder="EJEMPLO: JUAN"     
					         constraint="/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
	            </auxheader>
	            <auxheader colspan="1">
	                <textbox instant="true" value="@bind(vm.apellido)" 	width="80%" placeholder="GARCIA"     
					         constraint="/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
	            </auxheader>
	            <auxheader colspan="1">
	                <textbox instant="true" value="@bind(vm.telefono)" 	width="80%" placeholder="0251-5422322" maxlength="12"
					             constraint="/[0][2|4][0-9]{2}-[0-9]{7}/:Por Favor Introduzca un Telefono Valido"/>
	            </auxheader>
	             <auxheader colspan="1">
	                <textbox instant="true" value="@bind(vm.celular)" 	width="80%" placeholder="0414-5777322" maxlength="12"
					             constraint="/[0][2|4][0-9]{2}-[0-9]{7}/:Por Favor Introduzca un Telefono Valido"/>
	            </auxheader>
	            <auxheader colspan="1">
	                <datebox instant="true" value="@bind(vm.fechaRegistro)"  width="80%" format="dd/MM/yyyy" placeholder="11/10/2015"/>
	            </auxheader>
	            <auxheader colspan="1">
		            	<button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('filtrar')"/>
		            	<button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		        </auxheader>  
	       	</auxhead>
        	
				<listhead>
					<listheader align="center" 			width="5%"/>
					<listheader label="Cedula" 			width="10%" sort="auto(cedula)"/>
					<listheader label="Nombre" 			width="15%" sort="auto(nombre)" />
					<listheader label="Apellido" 		width="10%" sort="auto(apellido)" />				
					<listheader label="Telefono"		width="10%" sort="auto(telefono)" />
					<listheader label="Celular"			width="10%" sort="auto(celular)" />
					<listheader label="Fecha Registro"	width="15%" />
					<listheader label="Opciones" 		width="25%"/> 
				</listhead>
				<template name="model" var="item"> 
					<listitem>
						<listcell />
						<listcell label="@bind(item.cedula)"/>				 
						<listcell label="@bind(item.nombre)"/>
						<listcell label="@bind(item.apellido)"/>
						<listcell label="@bind(item.telefono)"/>
						<listcell label="@bind(item.celular)"/>
						<listcell label="@load(vm.cambiarFormatoFecha(item.fechaRegistro))" />
						<listcell>		          							
		                    <button image="/source/images/iconos/ic_editar.png"   label="Editar"    onClick="@command('editarAnotador', anotadorSeleccionado=item)"/>
		                    <button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" 	onClick="@command('eliminarAnotador', anotadorSeleccionado=item)"/>
               			</listcell>
					</listitem>
				</template> 
			</listbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
		</vbox>
	</window>
</zk>