
<div>
	<vlayout>
	<navbar orient="vertical" sclass="menu-vertical">
		<nav label="Primer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav>
		<nav label="Segundo item" >
			<navitem label="Segundo item.1" />
			<navitem label="Segundo item.2" />
		</nav>
		<nav label="Tercer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav>
		<nav label="Primer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav>
		<nav label="Segundo item" >
			<navitem label="Segundo item.1" />
			<navitem label="Segundo item.2" />
		</nav>
		<nav label="Tercer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav><nav label="Primer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav>
		<nav label="Segundo item" >
			<navitem label="Segundo item.1" />
			<navitem label="Segundo item.2" />
		</nav>
		<nav label="Tercer item" >
			<navitem label="Primer item.1" />
			<navitem label="Primer item.2" />
		</nav>
	</navbar>
	</vlayout>
</div>
