<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<?page title="Sistema de Gestion Deportiva"?>
<!-- <?link type="image/x-icon" href="/source/images/iconos/iconoSIGED.png" rel="shortcut icon"?>  -->
<?link href="/source/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"?>
<?link href="/source/Bootstrap/css/style.css" rel="stylesheet" type="text/css"?>
<zk>
	<script src="/source/Bootstrap/js/bootstrap.min.js"></script>
	<!-- Css -->
	<style src="/source/css/style.css" />
	<html>
	 	<head>
       		<meta name="viewport" initial-scale="1" />
    	</head>
		<script type="text/javascript" src="/source/js/DP.js"></script>
		<script type="text/javascript" defer="true">
			window.onload = DP.inicio;
		</script>
	</html>
	<!-- Inicio de la estructura del portal principal -->
	<borderlayout hflex="1" vflex="1" apply="org.zkoss.bind.BindComposer" 
					viewModel="@id('vm')@init('edu.ucla.siged.viewmodel.portalprincipal.VMportalprincipal')">

		<!-- Inicio del encabezado y el menú horizontal -->
		<north size="150px" border="none" >
			<include src="/vistas/principal/portalPrincipal/header.zul" />
		</north>
		<!-- Fin encabezado y menú horizontal -->

		<!-- Inicio Columna Izquierda -->
		<west size="18%" border="none">
			<borderlayout>
				<north size="50%">
					<include src="/vistas/principal/portalPrincipal/column_proxJuegos.zul"/>
				</north>
				<center>
					<include src="/vistas/principal/portalPrincipal/column_calendarioEventos.zul"/>
				</center>
			</borderlayout>
		</west>
		<!-- Fin Columna Izquierda -->
		
		<!-- Inicio Cuerpo Principal -->
		<center>
			<borderlayout>
				<north size="62%">
					<include src="/vistas/principal/portalPrincipal/carousell_noticias.zul"/>
				</north>
				<west size="33%">
					<include src="/vistas/principal/portalPrincipal/postularAtleta.zul"/>
				</west>
				<center>
					<include src="/vistas/principal/portalPrincipal/noticias.zul"/>
				</center>
				<east size="33%">
					<include src="/vistas/principal/portalPrincipal/gestionarDonacion.zul"/>
				</east>
			</borderlayout>
		</center>
		<!-- Fin Cuerpo Principal -->
		
		<!-- Inicio Columna Derecha -->
		<east size="18%">
			<borderlayout>
				
				 <north size="50%">
					<include src="/vistas/principal/portalPrincipal/column_encuesta.zul"/>
				</north>
				
				<center >
					<include src="/vistas/principal/portalPrincipal/twitter_siged.zul"/>
				</center>
			</borderlayout>
		</east>
		<!-- Fin Columna Derecha -->
		
		<!-- Inicio Pie de Página
		<south size="21px" border="none">
			<include
				src="/vistas/principal/portalPrincipal/Footer.zul" />
		</south>
		Fin Pie de Página -->

	</borderlayout>
</zk>