.center {
	background-position: center;
 /* 	background-image:
		url("./../../imagenes/portal-principal/Logo SIGAREP transparente.png");
 	background-repeat: no-repeat;
	background-size: contain;  */
	
}

.banner {
	/*background-color: #275280;*/
	color: white;
	background-image: url('http://localhost:8080/Siged/source/images/fondo_banner2.png'); 
	background-size: 100% 100%;"
	/*background-image:
		url("../source/images/reflejosbanner.png");*/
	background-repeat: no-repeat;
}

.banner-head {
	font-size: 30px;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: bold;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}

.footer {
	background-color: #275280;
	color: white;
}

.footer a,.footer a:VISITED {
	color: white;
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn {
	cursor: pointer;
}

.head1 {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
}

.textTitulo {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
}

.textNoticia {
	font-size: large;
	text-align: justify;
}

.head2 {
	font-size: medium;
	text-align: justify;
}

form {
	padding-bottom: 2%;
	padding-top: 2%;
}

a{
	color: white;

    }
}

juegoEstrellas {
	background-position: center;
	background-image:
		url("../source/images/juegoEstrellas.png");
	background-repeat: no-repeat;
	background-size: contain;
}

A:link {COLOR: white; TEXT-DECORATION: none}

A:visited {COLOR: white; TEXT-DECORATION: none}

A:active {TEXT-DECORATION: none}

A:hover {COLOR: white; TEXT-DECORATION: underline}

