<?xml version="1.0" encoding="UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="windowListadoAtletaPago" title="Listado de Atletas" border="normal" apply="org.zkoss.bind.BindComposer" viewModel="@id('VMListarAtleta') @init('edu.ucla.siged.viewmodel.gestionatletas.VMListarAtleta')" closable="true" maximizable="true" height="550px" width="900px">
		<vbox vflex="1">
			<vbox vflex="1">
			<listbox  model="@bind(VMListarAtleta.listaAtletas)" checkmark="true" selectedItem="@bind(VMListarAtleta.atletaSeleccionadoPago)" emptyMessage="No hay Atletas registrados actualmente">
				<auxhead>
					
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroCedula)"  width="100%"/> </auxheader>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroNombre)"  width="100%"/> </auxheader>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroApellido)"  width="100%"/> </auxheader>
					<auxheader colspan="1" align="end">
		            	<button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('filtrar')"/>
		            	<button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		        	</auxheader> 
				</auxhead>
				
				<listhead>
					
					<listheader label="Cédula" sort="auto(cedula)"/>
					<listheader label="Nombre" sort="auto(nombre)" />
					<listheader label="Apellido" sort="auto(apellido)" />
					<listheader label="Equipo" sort="auto(equipoActual)" />

				</listhead>
				<template name="model" var="Atleta">
					<listitem>
						
						<listcell label="@bind(Atleta.cedula)" />
						<listcell label="@bind(Atleta.nombre)" />
						<listcell label="@bind(Atleta.apellido)" />
						<listcell label="@bind(Atleta.equipoActual.nombre)" />
						
					</listitem>
				</template>
			</listbox>
			</vbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(VMListarAtleta.paginaActual)" totalSize="@bind(VMListarAtleta.registrosTotales)" pageSize="@bind(VMListarAtleta.tamanoPagina)" />
	 		<toolbar  align="end"><toolbarbutton label=""/>
				<button image="/source/images/iconos/ic_votar.png" label="Aceptar" onClick="@global-command('atletaSeleccionado',atletaSeleccionado=VMListarAtleta.atletaSeleccionadoPago, ventana=windowListadoAtletaPago)" />
			</toolbar>
	 	</vbox>
	 </window>
</zk>