<zk>
<window title="Becar Atletas" border="normal" height="100%" closable="true" apply="org.zkoss.bind.BindComposer" 
        viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestionatletas.VMListarBeca')">
	<vbox>
		<listbox id="listboxbecar" model="@bind(vm.atletas)" height="100%" emptyMessage="No hay registros">
		
		<auxhead>
			<auxheader> 
				<textbox instant="true" width="70%" value="@bind(vm.nombre)"/>
			</auxheader>
			<auxheader> 
				<textbox instant="true" width="70%" value="@bind(vm.ci)"/>
			</auxheader>
			<auxheader colspan="1">
				<button width="50%" image="/source/images/iconos/ic_filtro.png" label="Filtrar" onClick="@command('ejecutarFiltro')"/>
                <button width="50%" image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
			</auxheader>
		</auxhead>
		
		<listhead>
			<listheader width="40%" label="Nombre" sort="auto"/>
			<listheader width="35%" label="Cedula" sort="auto"/>
			<listheader width="25%" label="Opciones"/>
		</listhead>
		
		<template name="model" var="atleta">
			<listitem>
				<listcell label="@bind(atleta.nombre)" />
				<listcell label="@bind(atleta.cedula)" />
				<listcell>
					<hbox>
						<button image="/source/images/iconos/ic_becar.bmp" label="Becar" onClick="@command('abrirVentanaBeca', atletaSeleccionado=atleta)"/>
					</hbox>
				</listcell>
			</listitem>
		</template>
		
		</listbox>
	    <paging onPaging="@command('paginarBecas')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
	</vbox>
</window>
</zk>