<?xml version="1.0" encoding="UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window title="Lista de Atletas" border="normal" apply="org.zkoss.bind.BindComposer" viewModel="@id('VMListarAtleta') @init('edu.ucla.siged.viewmodel.gestionatletas.VMListarAtleta')" closable="true" maximizable="true">
		<vbox vflex="1">
			<listbox  model="@bind(VMListarAtleta.listaAtletas)" multiple="true" selectedItems="@bind(VMListarAtleta.atletasSelecionados)" emptyMessage="No hay Atletas registrados actualmente">
				<auxhead>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroCedula)"  width="100%"/> </auxheader>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroNombre)"  width="100%"/> </auxheader>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroApellido)" width="100%"/> </auxheader>
					<auxheader colspan="1"> <textbox instant="true" value="@bind(VMListarAtleta.filtroEquipoActual)" width="100%"/> </auxheader>
					<auxheader colspan="1"> 
						<combobox autocomplete="true" model="@bind(VMListarAtleta.estatusAtletas)"  instant="true" width="100%" selectedItem="@bind(VMListarAtleta.estatusAtletaSeleccionado)">
							<template name="model" var="EstatusAtleta" >
								<comboitem label="@bind(EstatusAtleta.descripcion)"/>
							</template>
						</combobox> 
					</auxheader>
					<auxheader colspan="1"/>
					<auxheader colspan="1"/>
					<auxheader colspan="1">
		            	<button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('filtrar')"/>
		            	<button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		        	</auxheader> 
				</auxhead>
				
				<listhead>
					<listheader width="10%" label="Cédula" sort="auto(cedula)"/>
					<listheader width="10%" label="Nombre" sort="auto(nombre)" />
					<listheader width="10%" label="Apellido" sort="auto(apellido)" />
					<listheader width="15%" label="Equipo" sort="auto(equipoActual)" />
					<listheader width="10%" label="Estatus" sort="auto(estatusActual)" />
					<listheader width="10%" label="Beca" sort="auto(becado)" />
					<listheader width="10%" label="Foto" sort="auto(foto)" />
					<listheader width="25%" label="Opciones" />
				</listhead>
				<template name="model" var="Atleta">
					<listitem>
						<listcell label="@bind(Atleta.cedula)" />
						<listcell label="@bind(Atleta.nombre)" />
						<listcell label="@bind(Atleta.apellido)" />
						<listcell label="@bind(Atleta.equipoActual.nombre)" />
						<listcell label="@bind(Atleta.estatusActual.descripcion)" />
						<listcell label="@bind(Atleta.becado)" />
						<listcell>
							<image height="30px" width="60px" content="@bind(Atleta.foto.getAImage())"/>
						</listcell> 
						<listcell>
							<hbox>
								<button image="/source/images/iconos/ic_editar.png" label="Editar" onClick="@command('abrirVentanaAtleta', atletaSeleccionado=Atleta)" />
								<button image="/source/images/iconos/ic_eliminar.png" label="Retirar" onClick="@command('eliminarAtleta', atletaSeleccionado=Atleta)"/>
							</hbox>
						</listcell> 
					</listitem>
				</template>
			</listbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(VMListarAtleta.paginaActual)" totalSize="@bind(VMListarAtleta.registrosTotales)" pageSize="@bind(VMListarAtleta.tamanoPagina)" />
	 	</vbox>
	 </window>
</zk>