<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="ListaPostulante" title="Responder Postulantes" border="normal" closable="true" height="100%" 
			apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestionatletas.VMListaPostulante')">
		<vbox vflex="1">
			<listbox id= "lstPostulantes" model="@bind(vm.listaPostulantes)" multiple= "true" 
					selectedItems="@bind(vm.postulantesSeleccionados)" hflex="true" height="100%" 
					emptyMessage="No hay Postulantes esperando por respuesta">
				<listhead>
					<listheader label="Cedula" 				width="10%"/>
					<listheader label="Nombre" 				width="15%"/>
					<listheader label="Apellido" 			width="15%"/>				
					<listheader label="Fecha Nacimiento"	width="15%"/>
					<listheader label="Telefono"			width="15%"/>
					<listheader label="Email"				width="15%"/>
					<listheader label="Opciones"/> 
				</listhead>
				<template name="model" var="postul"> 
					<listitem>
						<listcell label="@bind(postul.cedula)"/>				 
						<listcell label="@bind(postul.nombre)"/>
						<listcell label="@bind(postul.apellido)"/>
						<listcell label="@load(vm.cambiarFormatoFecha(postul.fechaNacimiento))"/>
						<listcell label="@bind(postul.telefono)"/>
						<listcell label="@bind(postul.email)" />
						<listcell>		          							
		                    <button image="/source/images/iconos/ic_editarUsuario.png"   label="Responder"  onClick="@command('responderPostulante', postulanteSeleccionado=postul)"/>
               			</listcell>
					</listitem>
				</template> 
			</listbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
		</vbox>
	</window>
</zk>