<!-- Pago -->
<zk><?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
	<window id="idVentanaPago" title="Pagar Mensualidad" border="normal" position="center" width="900px" height="550px" closable="true"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('VMPago') @init('edu.ucla.siged.viewmodel.gestionatletas.VMPago')" onClose="@global-command('actualizarLista')">
	<grid vflex="1">
		<rows>
			<row spans="1,3">
				<label value="Numero de Recibo" />
				<textbox value="@bind(VMPago.pago.numRecibo)" readonly="true"/>
			</row>
			<row spans="1,1,3">
				<label value="Cedula Del Atleta"/>
				<textbox value="@bind(VMPago.pago.atleta.cedula)" readonly="true"/>
				<button image="/source/images/iconos/ic_buscar.png" onClick="@command('buscarAtleta')" disabled="@bind(VMPago.disabled)" />
			</row>
			<row spans="1,1,1,1">
				<label value="Mes"/>
				<textbox value="@bind(VMPago.mes)" readonly="true"/>
				<label value="Año"/> 
				<longbox value="@bind(VMPago.pago.anno)" readonly="true" />
			</row>
			<row>
			</row>
			<row spans="1,3">
				<label value="Fecha:" />
				<datebox format="dd/MM/yyyy" value="@bind(VMPago.pago.fecha)" readonly="true" disabled="true"/>
			</row>
			<row spans="1,3">
				<label value="Observación:" />
				<textbox width="100%" rows="3" value="@bind(VMPago.pago.observacion)"/>
			</row>
		</rows>
	</grid>
	<vbox vflex="1">
		<listbox model="@bind(VMPago.pagosMensuales)" selectedItem="@bind(VMPago.pagoSeleccionado)" onSelect="@command('seleccionarPago')"
				 hflex="true" height="200px"
				 emptyMessage="No Hay Pagos Registrados Actualmente" visible="@bind(VMPago.listaVisible)">
	
			<listhead>
				<listheader label="Mes" sort="auto" />
				<listheader label="Año" sort="auto" />
				<listheader label="Estatus" sort="auto" />
			</listhead>
			<template name="model" var="pago">
				<listitem>
					<listcell label="@bind(VMPago.mostrarMes(pago.mes))" />
					<listcell label="@bind(pago.anno)" />
					<listcell label="@bind(VMPago.mostrarStatus(pago.mes,pago.anno))"/>
				</listitem>
			</template>
		</listbox>
		<paging onPaging="@command('paginarListaPagos')" activePage="@bind(VMPago.paginaActual)" totalSize="@bind(VMPago.registrosTotales)" pageSize="@bind(VMPago.tamanoPagina)" visible="@bind(VMPago.listaVisible)"/>
	</vbox>
	<toolbar  align="end"><toolbarbutton label=""/>
		<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarPago', ventanaPago=idVentanaPago)"/>
		<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiar')" />
	</toolbar>
	</window>
</zk>