<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
	<window id="idWindowReposo" title="Registra Reposo" border="normal" height="550px" width="900px" closable="true"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('VMReposo') @init('edu.ucla.siged.viewmodel.gestionatletas.VMReposo')">
		<grid vflex="1">
			<rows>
				<row spans="1,1,1,1">
					<label value="Fecha Inicio:"/>
					<datebox format="dd/MM/yyyy" value="@bind(VMReposo.fechaInicio)" readonly="true"/>
					<label value="Fecha Fin:"/>
					<datebox format="dd/MM/yyyy" value="@bind(VMReposo.fechaFin)" readonly="true"/>
				</row>
				<row spans="1,3">
					<label value="Descripción Diagnostico:"/>
					<textbox rows="4" width="100%" value="@bind(VMReposo.descripcion)" constraint="no empty ,/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>					
				</row>
				<row spans="1,1,2">
					<button image="/source/images/iconos/ic_cargar.png" label="Examinar" upload="true" onUpload="@command('cargarDocumento', upload=event)"/>
					<button image="/source/images/iconos/ic_descargar.png" label="Descargar" onClick="@command('descargarDocumento')"/>
					<iframe height="300px" hflex="true" content="@bind(VMReposo.media)"/>
				</row>				
			</rows>
		</grid>
		<toolbar align="end">
			<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('cargarReposo', ventanaReposo=idWindowReposo) @global-command('agregarReposo', reposo=VMReposo.reposo)"/>
			<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiar')"/>
		</toolbar>
	</window>
</zk>