<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk> 
	<window id="idWindowRepresentante" title="Representante" border="normal" position="center" closable="true" width="900px" height="550px"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('VMRepresentante') @init('edu.ucla.siged.viewmodel.gestionatletas.VMRepresentante')">
		<grid vflex="1">
			<rows>
				<row spans="1,1,2">
					<label value="Cedula:" />
					<textbox value="@bind(VMRepresentante.cedula)" placeholder="EJEMPLO:V17364343" constraint="no empty,/[V|E][0-9]{7,10}/:Por Favor Introduzca una cedula valida" onBlur="@command('validarCedula')"/>
					<div align="center">	
						<image height="75px" width="70px" content="@bind(VMRepresentante.imagen)"/>
						<button image="/source/images/iconos/ic_cargar.png" label="Subir Imagen" upload="true" onUpload="@command('cargarImagen', upload=event)" />
					</div>
				</row>
				<row spans="1,1,1,1">
					<label value="Nombre:" />
					<textbox value="@bind(VMRepresentante.nombre)" placeholder="EJEMPLO:JOSE"  constraint="no empty,/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
					<label value="Apellido:" />
					<textbox value="@bind(VMRepresentante.apellido)" placeholder="EJEMPLO:HERNANDEZ"  constraint="no empty,/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
				</row>
				<row spans="1,1,1,1">
					<label value="Fecha Nacimiento:"/>
					<datebox format="dd/MM/yyyy" readonly="true" constraint="no empty, no future" value="@bind(VMRepresentante.fechaNacimiento)"/>
					<label value="Lugar de Nacimiento"/>
					<textbox value="@bind(VMRepresentante.lugarNacimiento)" placeholder="EJEMPLO:VENEZUELA, BARQUISIMETO, LARA" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>
				<row spans="1,3">
					<label value="Representante Legal"/>
					<checkbox checked="@bind(VMRepresentante.representanteLegal)"/>
				</row>
				<row spans="1,1,1,1">
					<label value="Parentesco"/>
					<combobox constraint="no empty" placeholder="SELECCIONE" readonly="true" model="@bind(VMRepresentante.parentescos)" selectedItem="@bind(VMRepresentante.parentescoSeleccionado)" value="@bind(VMRepresentante.parentesco.descripcion)">
						<template name="model" var="Parentesco">
							<comboitem label="@bind(Parentesco.descripcion)"/>
						</template>
					</combobox>
					<label value="Estado Civil"/>
					<combobox constraint="no empty"  placeholder="SELECCIONE" readonly="true" model="@bind(VMRepresentante.estadoCiviles)" selectedItem="@bind(VMRepresentante.estadoCivilSeleccionado)" value="@bind(VMRepresentante.estadoCivil.descripcion)">
						<template name="model" var="EstadoCivil">
							<comboitem label="@bind(EstadoCivil.descripcion)" />
						</template>
					</combobox>
				</row>
				<row spans="1,1,1,1">
					<label value="Lugar de Trabajo:" />
					<textbox rows="2" width="100%" value="@bind(VMRepresentante.lugarTrabajo)" placeholder="EJEMPLO:CENTRO COMENCIAL, LOS ICACOS" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
					<label value="Profesion:" />
					<textbox value="@bind(VMRepresentante.profesion)" placeholder="EJEMPLO:VENDEDOR" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>
				<row spans="1,1,1,1">
					<label value="Telefono:" />
					<textbox value="@bind(VMRepresentante.telefono)" placeholder="EJEMPLO:0251-5422322" constraint="no empty,/[0][2|4][0-9]{2}-[0-9]{7}/:Por Favor Introduzca un Telefono Valido"/>
					<label value="Telefono Móvil:" />
					<textbox value="@bind(VMRepresentante.celular)" placeholder="EJEMPLO:0412-5422322" constraint="/[0][0-9]{3}-[0-9]{7}/:Por Favor Introduzca un Telefono Valido"/>
				</row>
				<row spans="1,3">
					<label value="Email:" />
					<textbox value="@bind(VMRepresentante.email)" placeholder="EJEMPLO:HEJ@GMAIL.COM" constraint="no empty,/.+@.+\.[A-Z]+/"/>
				</row>
				<row spans="1,3">
					<label value="Dirección:" />
					<textbox width="100%" rows="2" value="@bind(VMRepresentante.direccion)" placeholder="EJEMPLO:URB. LOS ALAMOS CASA 52, AV 3 ENTRE CALLE 2 y 3" constraint="no empty, /[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>
				<row spans="1,3">
					<label value="Observaciones:" />
					<textbox width="100%" rows="2" value="@bind(VMRepresentante.observacion)" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>		
			</rows>
		</grid>
		<toolbar align="end">
			<toolbarbutton label=""/>
			<button image="/source/images/iconos/ic_guardar.png" label="Grabar"  onClick="@command('cargarRepresentante', ventanaRepresentante=idWindowRepresentante) @global-command('agregarAtletaRepresentante', atletaRepresentante=VMRepresentante.atletaRepresentante)" />
			<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiar')" />
		</toolbar>
	</window>
</zk>