<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="idTabAtleta" title="Datos del Atleta" mode="modal" position="center" width="900px" closable="true" height="550px" apply="org.zkoss.bind.BindComposer" viewModel="@id('VMAtleta') @init('edu.ucla.siged.viewmodel.gestionatletas.VMAtleta')" onClose="@global-command('actualizarListaAtletas')">
	<tabbox vflex="1">
	<tabs>
		<tab label="Información General" />
		<tab label="Informes Medicos"/>
		<tab label="Representantes"/>
		<tab label="Documentos" />
	</tabs>
	<tabpanels>
		<tabpanel>
		<grid>
			<rows>	
				<row spans="1,1,2">
					<label id="labelCedulaAtleta" value="Cédula:" />	
					<textbox id="textboxCedulaAtleta" width="80%"  readonly="false" value="@bind(VMAtleta.atleta.cedula)" placeholder="EJEMPLO:V17364343" constraint="no empty,/[V|E][0-9]{7,10}/:Por Favor Introduzca una cedula valida"/>
					<div align="center">	
						<image id="imageFotoAtleta" height="65px" width="60px"  content="@bind(VMAtleta.imagen)"/>
						<button id="buttonFotoAtleta" image="/source/images/iconos/ic_cargar.png" label="Subir Imagen" upload="true" onUpload="@command('cargarImagen', upload=event)" />
					</div>					
				</row>
				<row spans="1,1,1,1">
					<label id="labelNombreAtleta" value="Nombre:"/>
					<textbox id="textboxNombreAtleta" width="80%"  value="@bind(VMAtleta.atleta.nombre)" placeholder="EJEMPLO:JOSE"  constraint="no empty,/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
					<label id="labelApellidoAtleta" value="Apellido:" />
					<textbox id="textboxApellidoAtleta" width="80%"  value="@bind(VMAtleta.atleta.apellido)" placeholder="EJEMPLO:HERNANDEZ"  constraint="no empty,/[A-Z|\s]+/:Por favor Introduzca solo letras Mayusculas"/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelFechaNacimientoAtleta" value="Fecha de Nacimiento:" />
					<datebox id="dateboxFechaNacimientoAtleta" width="80%"  format="dd/MM/yyyy" constraint="no empty, no future" value="@bind(VMAtleta.atleta.fechaNacimiento)"/>
					<label id="labelLugarNacimientoAtleta" value="Lugar De Nacimiento:" />
					<textbox id="textboxLugarNacimientoAtleta" width="80%"  value="@bind(VMAtleta.atleta.lugarNacimiento)" placeholder="EJEMPLO:VENEZUELA, BARQUISIMETO, LARA" constraint="no empty,/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelDireccionAtleta" value="Dirección"/>
					<textbox id="textboxDireccionAtleta" width="80%"  rows="2" value="@bind(VMAtleta.atleta.direccion)" placeholder="EJEMPLO:URB. LOS ALAMOS CASA 52, AV 3 ENTRE CALLE 2 y 3" constraint="no empty, /[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
					<label id="labelTelefonoAtleta" value="Telefono" />
					<textbox id="textboxTelefonoAtleta" width="80%"  value="@bind(VMAtleta.atleta.telefono)" placeholder="EJEMPLO:0251-5422322" constraint="no empty,/[0][2|4][0-9]{2}-[0-9]{7}/:Por Favor Introduzca un Telefono Valido"/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelEmailAtleta" value="Email:"/>
					<textbox id="textboxEmailAtleta" width="80%"  value="@bind(VMAtleta.atleta.email)" placeholder="EJEMPLO:HEJ@GMAIL.COM" constraint="no empty,/.+@.+\.[A-Z]+/"/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelColegioAtleta" value="Escuela/Colegio:/Liceo:"/>
					<textbox id="textboxColegioAtleta" width="80%" value="@bind(VMAtleta.atleta.colegio)" placeholder="EJEMPLO:LICEO LISANDRO ALVARADO" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
					<label id="labelGradoAtleta" value="Grado:" />
					<textbox id="textboxGradoAtleta" width="80%" value="@bind(VMAtleta.atleta.grado)" placeholder="EJEMPLO:7 GRADO" constraint="/[A-Z|\d|\s]*/:Por Favor Introduzca Letras Mayusculas Y/O Números"/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelUltimaDivisaAtleta" value="Ultima Divisa:"/>
					<textbox id="textboxUltimaDivisaAtleta" width="80%" value="@bind(VMAtleta.atleta.ultimaDivisa)" placeholder="EJEMPLO:ESCUELA DE BEISBOL" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
					<label id="labelPosicionAtleta" value="Posición:"/>
					<textbox id="textboxPosicionAtleta" width="80%" value="@bind(VMAtleta.atleta.posicion)" placeholder="EJEMPLO:2 BASE O 3 BASE" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas "/>
				</row>
				<row spans="1,1,1,1">
					<label value="Estatus:" />
					<textbox value="@bind(VMAtleta.estatusAtletaSeleccionado.descripcion)" width="80%" disabled="true" readonly="true" constraint="no empty,/[A-Z|\s]+/"/>
					<label id="labelTallaCamisaAtleta" value="Talla de Camisa:"/>
					<intbox id="intboxTallaCamisaAtleta" width="80%" value="@bind(VMAtleta.atleta.tallaCamisa)"/>
				</row>
				<row spans="1,1,1,1">
					<label id="labelTallaPantalonAtleta" value="Talla de Pantalon:"/>
					<intbox id="intboxTallaPantalonAtleta" width="80%" value="@bind(VMAtleta.atleta.tallaPantalon)"/>
					<label id="labelFechaAdmision" value="Fecha de Admision:"/>
					<datebox id="dateboxFechaAdmision" width="80%" disabled="true" format="dd/MM/yyyy" value="@bind(VMAtleta.atleta.fechaAdmision)" readonly="true"/>
				</row>
			</rows>
		</grid>
	</tabpanel>
	<tabpanel>
		<grid>
			<rows>
				<row spans="1,1,1,1">
					<label value="Sordo Mudo:" />
					<checkbox  checked="@bind(VMAtleta.atleta.sordoMudo)" />
					<label value="Asmatico:" />
					<checkbox  checked="@bind(VMAtleta.atleta.asmatico)"/>
				</row>
				<row spans="1,1,1,1">
					<label value="Intervención Quirurgica:" />
					<checkbox  checked="@bind(VMAtleta.atleta.intervencionQuirurgica)"/>
					<label value="Retardo:" />
					<checkbox  checked="@bind(VMAtleta.atleta.retardo)"/>
				</row>
				<row spans="1,3">
					<label value="Descripción De Intervención:"/>
					<textbox rows="2" width="100%" constraint="/[A-Z|\d|\s|\.|,]*/:Por Favor Introduzca Letras Mayusculas " value="@bind(VMAtleta.atleta.descripcionIntervencion)"/>
				</row>
			</rows>
		</grid>
		<window title="Lista de Reposos" border="normal"  vflex="1">
				<toolbar>
					<hbox>
						<button image="/source/images/iconos/ic_agregar.png" label="Agregar" onClick="@command('abrirVentanaReposo')"  />
						<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarReposos')" />
					</hbox>
				</toolbar>
				<listbox multiple="true" checkmark="true" mold="paging" pageSize="3" model="@bind(VMAtleta.atleta.reposos)" vflex="1" emptyMessage="No hay Historias ni Reposos registrados actualmente" selectedItems="@bind(VMAtleta.repososSeleccionado)">
					<listhead>
						<listheader width="5%" align="center"/>
						<listheader width="15%" label="Desde la Fecha"/>
						<listheader width="15%" label="Hasta la Fecha"/>
						<listheader width="15%" label="Documento"/>
						<listheader width="15%" label="Tipo"/>
						<listheader width="15%" label="Opciones"/>
					</listhead>
					<template name="model" var="Reposo">
						<listitem>
							<listcell/>
							<listcell> <datebox value="@bind(Reposo.fechaInicio)" format="dd/MM/yyyy"/> </listcell>
							<listcell>	<datebox value="@bind(Reposo.fechaFin)" format="dd/MM/yyyy"/> </listcell>
							<listcell label="@bind(Reposo.documento.documento.nombreArchivo)"/>
							<listcell label="@bind(Reposo.documento.tipoDocumento.descripcion)"/>
							<listcell>
								<hbox>
									<button image="/source/images/iconos/ic_descargar.png" label="Descargar" onClick="@command('descargarReposo', reposo = Reposo)"/>
									<button image="/source/images/iconos/ic_editar.png" label="Editar" onClick="@command('abrirVentanaReposo', reposoSeleccionado = Reposo)"/>
									<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarReposo', reposoSeleccionado = Reposo)"/>
								</hbox>
							</listcell>						
						</listitem>	
					</template>
				</listbox>
		</window>
		</tabpanel>
		<tabpanel>
			<window title="Lista de Representantes" vflex="1" border="normal">
					<toolbar>
						<button image="/source/images/iconos/ic_agregar.png" label="Agregar" onClick="@command('abrirVentanaRepresentante')" />
						<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarAtletaRepresentantes')" />
					</toolbar>
					<listbox multiple="true" checkmark="true"  mold="paging" pagingPosition="bottom" pageSize="10" vflex="1" model="@bind(VMAtleta.atletaRepresentantes)" emptyMessage="No hay Representantes registrados actualmente" selectedItems="@bind(VMAtleta.atletaRepresentantesSeleccionado)">
						<listhead>
							<listheader width="5%" align="center"/>
							<listheader label="Cedula" sort="auto" />
							<listheader label="Nombre" sort="auto" />
							<listheader label="Apellido" sort="auto" />
							<listheader label="Teléfono" sort="auto" />
							<listheader label="Movil" sort="auto" />
							<listheader label="Parentesco" sort="auto" />
							<listheader label="Opciones" width="201px" />
						</listhead>
						<template name="model" var="AtletaRepresentante">
							<listitem>
								<listcell/>
								<listcell label="@bind(AtletaRepresentante.representante.cedula)" />
								<listcell label="@bind(AtletaRepresentante.representante.nombre)" />
								<listcell label="@bind(AtletaRepresentante.representante.apellido)" />
								<listcell label="@bind(AtletaRepresentante.representante.telefono)" />
								<listcell label="@bind(AtletaRepresentante.representante.celular)" />
								<listcell label="@bind(AtletaRepresentante.parentesco.descripcion)" />
								<listcell>
									<hbox>
										<button image="/source/images/iconos/ic_editar.png" label="Editar" onClick="@command('abrirVentanaRepresentante', atletaRepresentanteSeleccionado = AtletaRepresentante)" />
										<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarAtletaRepresentante', atletaRepresentanteSeleccionado = AtletaRepresentante)"/>
									</hbox>
								</listcell>
							</listitem>
						</template>
					</listbox>
			</window>
		</tabpanel>
		<tabpanel>
			<window title="Lista de Documentos" border="normal" vflex="1">
				<toolbar>
					<hbox>
						<button image="/source/images/iconos/ic_agregar.png" label="Agregar" upload="true" onUpload="@command('agregarDocumento', upload=event)" />
						<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarDocumentos')" />
					</hbox>
				</toolbar>
				<listbox multiple="true" checkmark="true" mold="paging" pagingPosition="bottom" pageSize="5" vflex="1" model="@bind(VMAtleta.documentos)" emptyMessage="No hay Documentos registrados actualmente" selectedItems="@bind(VMAtleta.documentosSeleccionado)">
		
					<listhead>
						<listheader width="5%" align="center"/>
						<listheader label="Nombre" sort="auto" />
						<listheader label="Tipo" sort="auto" />
						<listheader label="Opciones"  width="325px"/>
					</listhead>
					<template name="model" var="Documento">
						<listitem>
							<listcell/>
							<listcell label="@bind(Documento.documento.nombreArchivo)"/>
							<listcell label="@bind(Documento.tipoDocumento.descripcion)"/>
							<listcell >
									<hbox>
										<button image="/source/images/iconos/ic_descargar.png" label="Descargar" onClick="@command('descargarDocumento', documento= Documento)"/>
										<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarDocumento', documentoSeleccionado=Documento)"/>
									</hbox>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</window>
		</tabpanel>
	</tabpanels>
</tabbox>
<toolbar align="end" >
		<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarAtleta', ventana=idTabAtleta)" />
		<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiarDatosAtleta')" />
</toolbar>
</window>
</zk>