<?page title="Recursos" contentType="text/html;charset=UTF-8"?>
<zk>
<window id="VistaRecursos" title="Recursos" border="normal" height="550px" closable="true"  apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestioneventos.VMDonacionRecurso')">
	<vbox vflex="1">
		<grid vflex="1">
			<rows>
				<row spans="1,1,1,1,1,1">
					<label value="Nombre:"/>
					<combobox id="cmbRecursos" tooltip="" readonly="true" autodrop="true"
							  width="90%" model="@load(vm.recursos)"
					          selectedItem="@bind(vm.recursoSeleccionado)"
					          value="@load(vm.recursoSeleccionado.nombreRecurso)">
						<template name="model">
							<comboitem label="@load(each.nombreRecurso)"/>
						</template>
					</combobox>
					<label value="Cantidad Solicitada:"/>
					<intbox id="TxtCantidadSolicitada" width="90%" constraint="no empty" value="@bind(vm.donacionRecurso.cantidadSolicitada)"/>
					<label value="Cantidad:"/>
					<intbox id="TxtCantidad" width="90%" constraint="no empty" value="@bind(vm.donacionRecurso.cantidad)"/>
				</row>
			</rows>
		</grid>
	</vbox>
	<toolbar mold="panel" align="end">
		<button image="/source/images/iconos/ic_guardar.png"  id="BtnAceptarNoticia" label="Grabar" onClick="@command('GuardarDonacionRecurso') @global-command('CargarRecursos', donacionRecurso = vm.donacionRecurso)"/>
		<button image="/source/images/iconos/ic_cancelar.png" id="BtnEliminarNoticia" label="Cancelar" onClick="@command('CancelarDonacionRecurso')"/>       
	</toolbar>
</window>
</zk>