<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window width="900px" height="550px" closable="true" id="vistaListaEventosFuturos" title="Calendario de Eventos" border="normal"  mode="modal"
		apply="org.zkoss.bind.BindComposer" viewModel="@id('vmListaEventosFuturos') @init('edu.ucla.siged.viewmodel.gestioneventos.VMListaEventosFuturos')"
		   contentStyle="background-image: url('http://localhost:8080/Siged/source/images/fondo_eventos.png'); background-size: 100% 100%;"  
		>
<vbox vflex="1">
	
	
	<listbox id="lstEventosFuturos" model="@bind(vmListaEventosFuturos.listaEventos)"  multiple= "true" hflex="true" width="100%" height="70%"
			   pagingPosition="bottom" 
			 emptyMessage="No hay Eventos actualmente">
		
			<listhead>
				
				<listheader label="Fecha"               	width="30%" sort="fecha"/>
				<listheader label="Evento"            		width="30%" sort="nombre"/>	
				<listheader label="Lugar"        			width="40%" sort="direccion"/>
				
			</listhead>
			
			<template name="model" var="item">
	        <listitem>
	           
				<listcell label="@load(vmListaEventosFuturos.formatearFecha(item.fecha))"  />	
				<listcell label="@bind(item.nombre)" />			
				<listcell label="@bind(item.direccion )"/>
			</listitem>
			</template>
	</listbox>
	<paging onPaging="@global-command('paginar')" activePage="@bind(vmListaEventosFuturos.paginaActual)" totalSize="@bind(vmListaEventosFuturos.registrosTotales)" pageSize="@bind(vmListaEventosFuturos.tamanoPagina)"/>						
</vbox>
</window>
</zk>