<?page title="Eventos Realizados" contentType="text/html;charset=UTF-8"?>
<zk>
<window id="idEventosRealizados" title="Registrar Donaciones" border="normal" closable="true" maximizable="true" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestioneventos.VMRegistrarDonacionEvento')">
	<vbox>
    <listbox id="listboxER" model="@bind(vm.listaEventos)" height="100%" emptyMessage="No hay registros">

		<auxhead sclass="category-center">
			<auxheader colspan="1"> 
				<textbox instant="true" value="@bind(vm.nombre)" width="80%" />
			</auxheader>
			<auxheader colspan="1">
				<datebox instant="true" value="@bind(vm.fecha)" width="80%" readonly="true" format="dd/MM/yyyy"/>
			</auxheader>
			<auxheader/>
			<auxheader colspan="1">
				<button image="/source/images/iconos/ic_filtro.png" label="Filtrar" onClick="@command('ejecutarFiltro')"/>
            	<button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
			</auxheader>
		</auxhead>
        
        <listhead>
        	 <listheader label="Nombre" 		width="25%" sort="auto(nombre)"/>
             <listheader label="Fecha" 		width="25%" sort="auto(fecha)"/>
             <listheader label="Hora" 		width="20%" sort="auto(hora)"/>
             <listheader label="Opciones"   width="40%"/>
        </listhead>
        
        <template name="model" var="Evento">
        <listitem>
        	<listcell label="@bind(Evento.nombre)"/>
            <listcell label="@load(vm.cambiarFormatoFecha(Evento.fecha))"/>
            <listcell label="@bind(Evento.hora)"/>
            <listcell>
                <button image="/source/images/iconos/ic_cargar.png" label="Registrar Donación" onClick="@command('addDonacion', eventoSeleccionada=Evento)"/>
           	</listcell>
        </listitem>
        </template>
    </listbox>
    <paging onPaging="@global-command('paginarEventos')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
    </vbox>
</window>
</zk>