<?page title="ZK Carousel" contentType="text/html;charset=UTF-8"?>
<zk>

<style  src="/source/Bootstrap/jquery/jquery.bxslider.css"></style>
<script src="/source/Bootstrap/jquery/jquery.bxslider.js"></script>

<script type="text/javascript"><![CDATA[

 zk.afterMount(function() {

          $("$carrusel").bxSlider({
        	slideWidth: 1000,
            startSlide:1,
            auto:true
          });
});

 ]]></script>



<div id="carrusel">
  	<div class="slide"><image src="/source/images/galeria/msj/principal2_msj.png"/></div>
 	<div class="slide"><image src="/source/images/galeria/msj/constancia_msj.png" /></div>
 	<div class="slide"><image src="/source/images/galeria/msj/equipo_msj.png"/></div>
 	<div class="slide"><image src="/source/images/galeria/msj/eventos2_msj.png"/></div>
 	<div class="slide"><image src="/source/images/galeria/msj/practicas_msj.png"/></div>
 	<div class="slide"><image src="/source/images/galeria/msj/victorias_msj.png"/></div>
</div>
</zk>