<window id="wResponderEncuesta"  border="normal" height="100%" apply="org.zkoss.bind.BindComposer" closable="true"
	        viewModel="@id('vmResponderEncuesta') @init('edu.ucla.siged.viewmodel.gestionencuestas.VMResponderEncuesta')" contentStyle="overflow:auto">   
	<style>
    .titulo {
    	font-size:10pt;
    	color:black;
    	font-weight: bold;
    }
    .instruccion {
    font-size:6pt;
    color:black;
    font-weight: bold;
    }
    </style>
   	<label value="Encuesta del Día" sclass="titulo"/>
	<image src="/source/images/barra.png" height="5px" width="100%"/>	       
	<vbox vflex="1" visible="@load(vmResponderEncuesta.siguiente)">
		<!-- <label value="@bind(vmResponderEncuesta.encuesta.instrucciones)" sclass="instruccion"/> -->
		<label value="@bind(vmResponderEncuesta.pregunta.descripcion)"/>
			<radiogroup id="op" onCheck="">
				<listbox zclass="none" model="@bind(vmResponderEncuesta.opcionesPregunta)" height="100%" checkmark="false" multiple="false" >
        				<template name="model" var="opcionPregunta">
        			    <listitem>
					    	<listcell>
					    	<radio label="@bind(opcionPregunta.descripcion)" value="@bind(opcionPregunta)" />
					    	</listcell>       
					    </listitem>
        				</template>
    			</listbox>
			</radiogroup>
	</vbox>
		<toolbar>
			<button image="/source/images/iconos/ic_votar.png" tooltip="votar" label="" id="btnVotar" onClick="@command('votarEncuesta', opcionSeleccionada= op.selectedItem.value)"  visible="@load(vmResponderEncuesta.siguiente)"/>
			<button image="/source/images/iconos/ic_resultados.png" tooltip="Resultados" label="" id="btnResultados" onClick="@command('verResultadosEncuesta')" />
		</toolbar>
	<label value="No existen encuestas disponibles" visible="@load(vmResponderEncuesta.anterior)"/>
</window>