<vbox hflex="1" height="100%" width="100%" sclass="banner">

<hbox hflex="1" height="100%" width="100%" align="center" pack="center">
	<div align="left" sclass="banner-head" width="100%">
		<image src="/source/images/logo_fundacion_luis_sojo_blanco.png" height="110px" width="180px" visible="true"/>
	</div>
	
	<div align="center" hflex="1">
		<label value="Fundación Luis Sojo" sclass="banner-head" />
		<separator/>
		<label value="Edo.Lara - Venezuela" />		
	</div>
	<div align="right">
		<image src="/source/images/logoSiged - fondoBlanco.png" height="40px" width="100px" visible="true"/>
	</div>
	<div align="right" width="100%">
	
	<div>
			<label value="Usuario:" width="30%" />
			<textbox id="txtNombreUsuario" value="@bind(vm.account)" constraint="no empty: Ingrese el nombre del usuario"	width="70%" placeholder="Ingrese el usuario."  maxlength="35"/>			
	</div>
	<div>
			<label value="Clave:  " width="30%" />	
			<textbox id="txtPassword" width="70%" value="@bind(vm.password)" type= "password"	constraint="no empty: Ingrese su password" placeholder="Ingrese el password" maxlength="20"/>
					
	</div>	
	<div>
	<a label="¿Olvidó su password?" onClick="@command('abrirRecuperarPassword')" />
	</div>	
	
	</div>
	<div>
	<button image="/source/images/iconos/ic_llave.png" id="btnEntrar" type="submit" label="Entrar" onClick="@command('doLogin')"/>
	</div>

</hbox>
<include src="/vistas/principal/portalPrincipal/menuHorizontal.zul" />
</vbox>