<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="winActividad" title="Actividad" border="normal" width="900px"  height="550px"   
		maximizable="true" closable="true" position="center,center" 
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vmActividad') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMActividad')">  
<vbox vflex="1">
	<grid>
		<rows>
			<row spans="1,1">
				<label value="Descripcion:"/>
				<textbox id="TxtDescripcion" value="@bind(vmActividad.actividad.descripcion)"  width="100%" class="actividad_restriccion"
					     placeholder="EJEMPLO: CALENTAMIENTO" constraint="no empty, /[A-Z|\s]*/:Por favor Introduzca solo letras Mayusculas"/>
			</row> 
		</rows>
	</grid>
</vbox>
<toolbar align="end">
	<button label="Guardar" id="btnGuardar" image="/source/images/iconos/ic_guardar.png" onClick="@command('guardarActividad', ventanaActividad=winActividad)"/>
	<button label="Limpiar" id="btnLimpiar" image="/source/images/iconos/ic_limpiar2.png" onClick="@command('limpiar')" />
</toolbar>
</window>
</zk>