<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="vistaControl" title="Registrar Evaluación de Práctica" border="normal"  closable="true" maximizable="true" apply="org.zkoss.bind.BindComposer"
		 width="900px" height="550px" viewModel="@id('vmControl') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VmControlPractica')" >
	<tabbox id="tb" vflex="1">
    <tabs id="tabs">
        <tab id="A" label="Control de Actividades" />
        <tab id="B" label="Control de Asistencia" />
    </tabs>
    <tabpanels>
        <tabpanel>
        
        	<listbox id="listbox" model="@bind(vmControl.practica.actividadesPractica)"  hflex="true" height="100%"
				 			 mold="paging" pageSize="10"  autopaging="false" pagingPosition="bottom"
			 				 emptyMessage="No hay Campos registrados">
	
					<listhead>
						<listheader label="Actividad"       sort="" 	width="15%"/>
						<listheader label="Area" 			sort="" 	width="15%"/>
						<listheader label="Hora Inicio"       			width="15%"/>
						<listheader label="Hora Fin"       	 			width="15%"/>
						<listheader label="Cumplida"  sort=""    	width="15%"/>			
					</listhead>
			
					<template name="model" var="item"> 
	        		<listitem>
						<listcell label="@load(item.actividad.descripcion)"/>
						<listcell label="@load(item.area.nombre)"/>
						<listcell label="@load(vmControl.formatearHora(item.horaInicio))"/> 
						<listcell label="@load(vmControl.formatearHora(item.horaFin))"/>
						<listcell>
							<checkbox label="@load(item.realizada ? 'si' : 'no')"
							 		  checked="@bind(item.realizada)"/>
						</listcell> 
					</listitem>
					</template>
					</listbox>
        </tabpanel>
        <tabpanel>
        <listbox  model="@bind(vmControl.practica.asistenciaAtletas)"  hflex="true" height="100%"
				  mold="paging" pageSize="10"  autopaging="false" pagingPosition="bottom"
			 	  emptyMessage="No hay Campos registrados">
	
					<listhead>
						<listheader label="Atleta"       sort="" 	width="60%"/>
						<listheader label="Asistio" 	 sort="" 	width="40%"/>		
					</listhead>
			
					<template name="model" var="item"> 
	        		<listitem>
	        			<listcell label="@load(vmControl.concatenar(item.atleta.nombre,item.atleta.apellido))"/>
						<listcell>
							<checkbox label="@load(item.asistencia ? 'si' : 'no')"
							          checked="@bind(item.asistencia)"
							          onCheck="@command('checar', asistencia = item)"/>
							<combobox inplace="true" readonly="true" model="@load(vmControl.causas)" value="Seleccione Causa"
									  tooltiptext="Click aqui para seleccionar la causa" visible="@bind(not(item.asistencia))"
									  selectedItem="@bind(item.causa)">
								<template name="model" var="itemCausa">
			          				<comboitem label="@load(itemCausa.nombre)"/>
			       				</template>
							</combobox>
						</listcell>
					</listitem>
					</template>
			</listbox>
        </tabpanel>
    </tabpanels>
</tabbox>
<hbox height="10%">
	<label value="Observaciones:"/>
	<textbox value="@bind(vmControl.practica.observacionEvaluacion)" multiline="true" height="100%" width="450px" maxlength="75"/>
</hbox>
	<toolbar align="end">
		<toolbarbutton label=""/>
		<button image="/source/images/iconos/ic_guardar.png"  label="Grabar"   tooltip="pupGrabar" tabindex="7" onClick="@command('guardar') @global-command('actualizarLista')"/>
	  	<button image="/source/images/iconos/ic_limpiar2.png" label="Limpiar" tooltip="pupCancelar" tabindex="8" onClick="@command('cancelar')"/>
	</toolbar>
</window>
</zk>