<!-- 
     
   Inicio de Vista: Editar Juego
      
 -->
<?page title="Juego" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
    <window id="wdwGestionDeportivaEditarJuego" title="Registrar Juego" border="normal" apply="org.zkoss.bind.BindComposer" closable="true" 
		maximizable="true" width="900px" height="550px"  viewModel="@id('vmEditarJuego') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMEditarJuego')">
        <vbox vflex="1">
            <tabbox>
		        <tabs >
		            <tab label="Datos Basicos" id="tabGestionDeportivaEditarJuegoInformacion" />
		            <tab label="Anotador y Arbitros" id="tabGestionDeportivaEditarJuegoAnotadoresArbitros" onSelect="@command('cambiarArbitroAnotador')"/>
		        </tabs>
		        <tabpanels> <!-- ***************************Inicio Primer Tab************************************** -->
		            <tabpanel>
		                <panel id="panel_gestiondeportiva_editarjuego_informacion">
						    <panelchildren>
							   <vbox>
							    <grid hflex="true" vflex="true">
								   <rows>
									  <row spans="1,3">
									     <label id="lbl_gestiondeportiva_editarjuego_informacion_competencia" value="Competencia:" />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_competencia" width="85%" readonly="true" value="@load(vmEditarJuego.juego.competencia.nombre)"/>
									  </row>
									  <row spans="1,1,1,1">
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_fecha" value="Fecha: "/>
										 <datebox id="dtb_gestiondeportiva_editarjuego_informacion_fecha" value="@bind(vmEditarJuego.fecha)" width="80%" format="dd/MM/yyyy" constraint="@load(vmEditarJuego.obtenerRestriccionFechaCompetencia())" class="juegoEditar" ></datebox>
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_horainicio" value="Hora de Inicio: "/>
										 <timebox id="tmb_gestiondeportiva_editarjuego_informacion_horainicio" value="@bind(vmEditarJuego.hora)" cols="12" width="54%" format="hh:mm a" constraint='no empty' class="juegoEditar" />  
									  </row>
									  <row spans="1,3">
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_equipofundacion" value="Equipo Fundacion: " />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_equipofundacion" width="85%" readonly="true" value="@load(vmEditarJuego.juego.equipo.nombre)"/>
									  </row>
									   <row spans="1,1,1,1">
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_escuelacontrincante" value="Escuela Contrincante: " />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_escuelacontrincante" value="@bind(vmEditarJuego.escuelaContraria)" width="80%" constraint='no empty' class="juegoEditar"  />
										 <label  id="lbl_gestiondeportiva_editarjuego_informacion_equipocontrincante" value="Equipo Contrincante: " />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_equipocontrincante" value="@bind(vmEditarJuego.equipoContrario)" width="54%" constraint='no empty' class="juegoEditar" />
									  </row>
									   <row spans="1,1,1,1">
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_area" value="Area: "/>
										 <combobox   id="cbo_gestiondeportiva_editarjuego_informacion_area" model="@load(vmEditarJuego.listaAreas)" 
										              selectedItem="@bind(vmEditarJuego.area)" value="@load(vmEditarJuego.formatearAreaCombo(vmEditarJuego.area))" 
										              autodrop="true" mold="rounded" width="80%" tooltiptext="Seleccion de Area" 
										              constraint="no empty" readonly="true" onChange="@command('habilitarLugar')"  class="juegoEditar">
										 <template name="model">
												<comboitem label="@load(each.nombre)" />
										 </template>
										 </combobox>
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_lugar" value="Lugar: "  />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_lugar" value="@bind(vmEditarJuego.lugar)" readonly="@load(vmEditarJuego.soloLecturaLugar)" width="54%"  constraint='no empty' class="juegoEditar"/>
									  </row>
									  <row spans="1,3">
										 <label id="lbl_gestiondeportiva_editarjuego_informacion_observacion" value="Observacion: "  />
										 <textbox id="txt_gestiondeportiva_editarjuego_informacion_observacion" value="@bind(vmEditarJuego.observacion)" width="85%" rows="2" />
									  </row>
								   </rows>	
						        </grid>
							   </vbox>
						    </panelchildren>
					    </panel>
		        </tabpanel> <!-- **************************************************Fin Primer tab**************************************** -->
		        <tabpanel> <!-- **************************************************Inicio Segundo tab**************************************** -->
		             <panel id="panel_gestiondeportiva_editarjuego_arbitros">
						<panelchildren>
							<vbox>
							<hbox>
							<label id="lbl_gestiondeportiva_editarjuego_arbitros_anotadores_anotador" value="Anotador: " />
							 <combobox id="cboGestionDeportivaEditarJuegoArbitrosAnotadorAnotador" model="@load(vmEditarJuego.listaAnotadores)"  mold="rounded" width="100%" tooltiptext="Seleccion de Anotador" 
							            selectedItem="@bind(vmEditarJuego.anotador)" constraint="no empty,strict" readonly="true" value="@load(vmEditarJuego.obtenerNombreCompleto(vmEditarJuego.anotador))" class="juegoEditarAnotador" >
								<template name="model">
									<comboitem label="@load(vmEditarJuego.obtenerNombreCompleto(each))" />
								</template>
							 </combobox>
							</hbox>
							<separator/>
							<label id="lbl_gestiondeportiva_editarjuego_arbitros_anotadores_arbitros" value="Arbitros y Posiciones: " />
							<listbox id="lst_gestiondeportiva_editarjuego_arbitros_anotadores_arbitros"  multiple= "false" hflex="true" height="100%"
									 model="@bind(vmEditarJuego.listaArbitroJuego)" mold="paging" pageSize="10"  autopaging="false" pagingPosition="bottom"
									 emptyMessage="No hay Arbitros">
									<listhead>
									    <listheader label="Posicion Arbitraje" sort="" 	width="40%"/>
										<listheader label="Arbitro"  sort="" 	width="40%"/>
									</listhead>
									<template name="model" var="arbitrojuego">
										<listitem>
											<listcell label="@load(arbitrojuego.posicionArbitro.descripcion)" />				
											<listcell>
											     <combobox model="@load(vmEditarJuego.listaArbitros)"   mold="rounded" width="100%" 
												           value="@load(vmEditarJuego.obtenerNombreCompleto(arbitrojuego.arbitro))" constraint="no empty,strict" readonly="true" class="juegoEditarArbitro" 
												          selectedItem="@bind(arbitrojuego.arbitro)" >
													<template name="model">
														<comboitem label="@load(vmEditarJuego.obtenerNombreCompleto(each))" />
													</template>
												 </combobox>
											</listcell>
										</listitem>
									</template>
							</listbox>
							</vbox>
						</panelchildren>
					</panel>
		        </tabpanel> <!-- **************************************************Fin Segundo tab**************************************** -->
		        </tabpanels>
            </tabbox>
           <toolbar align="end" id="tb_gestiondeportiva_editarjuego_operaciones">
			    <toolbarbutton label=""/>
				<button id="btn_gestiondeportiva_editarjuego_grabar" image="/source/images/iconos/ic_guardar.png" label="Grabar" tooltip="Grabar" onClick="@command('guardar')"/>
			  	<button id="btn_gestiondeportiva_editarjuego_cancelar" image="/source/images/iconos/ic_cancelar.png" label="Limpiar"  tooltip="Cancelar" onClick="@command('cancelar')"/>
		   </toolbar> 
        </vbox>
    </window>
</zk>