<?page title="Resultado de Juego" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="wdwGestionDeportivaJuegoResultado" title="Resultado de Juego" border="normal"  apply="org.zkoss.bind.BindComposer" closable="true" 
		maximizable="true" width="900px" height="550px" onClose="@command('cerrarVentana')" viewModel="@id('vmJuegoResultado') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMJuegoResultado')">
 <vbox vflex="1">
	<grid hflex="true" vflex="true">
		<rows>
			<row spans="1,3">
				<label value="Competencia: "/>
				<textbox width="93.5%"  readonly="true" id="txtGestionDeportivaJuegoResultadoCompetencia" value="@load(vmJuegoResultado.juego.competencia.nombre)"/>
			</row>
			 <row spans="1,3">
				<label value="Juego: "/>
				<textbox width="93.5%"  readonly="true" id="txtGestionDeportivaJuegoResultadoJuego" value="@load(vmJuegoResultado.formatearJuego(vmJuegoResultado.juego))"/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4" align="center">
				<label value="DATOS DEL JUEGO"/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="1,1,1,1">
				<label value="Fecha de Juego: "/>
				<textbox width="93.5%"  readonly="true" id="txtGestionDeportivaJuegoResultadoFecha" value="@load(vmJuegoResultado.formatearFecha(vmJuegoResultado.juego.fecha))"/>
				<label value="Hora de Inicio: "/>
				<textbox width="80%" readonly="true" id="txtGestionDeportivaJuegoResultadoHora" value="@load(vmJuegoResultado.formatearHora(vmJuegoResultado.juego.horaInicio))"/>
			</row>
			<row spans="1,1,1,1">
				<label value="Equipo Fundacion: "/>
				<textbox width="93.5%" readonly="true" id="txtGestionDeportivaJuegoResultadoEquipoFundacion" value="@load(vmJuegoResultado.juego.equipo.nombre)"/>
				<label value="Equipo Contrincante: "/>
				<textbox width="80%" readonly="true" id="txtGestionDeportivaJuegoResultadoEquipoContrincante" value="@load(vmJuegoResultado.juego.equipoContrario)"/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4" align="center">
				<label value="RESULTADOS DEL JUEGO"/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row spans="4">
				<label value=""/>
			</row>
			<row>
				<label value="Equipo Fundacion: "/>
				<textbox width="93.5%"  readonly="true" id="txtGestionDeportivaJuegoResultadoEquipoFundacionResultado" value="@load(vmJuegoResultado.juego.equipo.nombre)"/>
				<cell colspan="2">
				   <hbox>
				     <vbox>
				       <separator spacing="38%" /> 
					   <label value="Resultados: "/>
					 </vbox>
					<radiogroup id="rdgGestionDeportivaJuegoResultadoEquipoFundacionResultado" onCheck="@command('seleccionarResultado',resultado=self.selectedItem.label)">
					  <grid>
					     <rows>
					      <row> 
					         <radio id="rdGestionDeportivaJuegoResultadoEquipoFundacionResultadoGano" label="Ganamos" selected="@bind(vmJuegoResultado.gano)" />
					      </row>
					      <row>
					        <radio id="rdGestionDeportivaJuegoResultadoEquipoFundacionResultadoPerdio" label="Perdimos" selected="@bind(vmJuegoResultado.perdio)" />
					      </row>
					      <row> 
					        <radio id="rdGestionDeportivaJuegoResultadoEquipoFundacionResultadoEmpato" label="Empatamos"  selected="@bind(vmJuegoResultado.empato)"/>
					      </row>  
					     </rows> 
					  </grid>  
					</radiogroup>
				    </hbox>
				</cell>
			</row>
		</rows>	
   	</grid>
 </vbox>
 <toolbar align="end" id="tbGestiondeportivaJuegoResultadoOperaciones">
	<button id="btnGestionDeportivaJuegoResultadoGrabar" image="/source/images/iconos/ic_guardar.png" label="Grabar" tooltip="Grabar" onClick="@command('guardar')"/>
	<button id="btnGestionDeportivaJuegoResultadoCancelar" image="/source/images/iconos/ic_limpiar2.png" label="Limpiar"  tooltip="Limpiar" onClick="@command('cancelar')"/>
</toolbar>
</window>
</zk>