<?page title="Lista de Practicas" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window height="100%" closable="true" title="Registrar Evaluación de Prácticas" border="normal" apply="org.zkoss.bind.BindComposer" 
		viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMlistarpractica')" >
	<vbox vflex="1">   
		<toolbar >
			<button image="/source/images/iconos/ic_agregar.png" label="Agregar" onClick="@command('agregarPractica')" visible="@bind(vm.visiblesPlanificar)"/> 
			<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarVarios', lista=vm.practicasSeleccionadas)" visible="@bind(vm.visiblesPlanificar)"/> 
		</toolbar>
		<listbox id="listbox_practicas" model="@bind(vm.listaPractica)" checkmark="true" multiple= "true" hflex="true" height="100%"
			 	 mold="paging" pageSize="5"  autopaging="false" pagingPosition="bottom"
				 selectedItems="@bind(vm.practicasSeleccionadas)" emptyMessage="No hay practicas registradas actualmente" >
		<auxhead sclass="category-center">
		<auxheader />
        <auxheader colspan="1">
        	<image src="/source/images/funnel.png" />
            <datebox  format="dd/MM/yyyy" value="@bind(vm.fechaPractica)" instant="true" width="80%" />
        </auxheader>
        <auxheader colspan="1">
            <image src="/source/images/funnel.png" />
            <textbox value="@bind(vm.nombreEquipo)" instant="true" maxlength="20"  width="80%"/>
        </auxheader>
        <auxheader colspan="1">
           	<image src="/source/images/funnel.png" />
           	<timebox  width="80%"  format="hh:mm: a" value="@bind(vm.horaInicio)" />
        </auxheader>
        <auxheader colspan="1">
            <image src="/source/images/funnel.png" />
            <timebox  width="80%"  format="hh:mm: a" value="@bind(vm.horaFin)" />
        </auxheader>
        <auxheader colspan="1">
            <image src="/source/images/funnel.png" />
            <combobox  width="80%"  readonly="true" selectedIndex="@bind(vm.estatus)">
            	<comboitem label="Todas"/>
            	<comboitem label="Evaluadas"/>
            	<comboitem label="No Evaluadas"/>
            </combobox>
        </auxheader>
         <auxheader colspan="1">
		      <button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('filtrar')"/>
		      <button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		 </auxheader> 
        </auxhead>
			<listhead>
				<listheader align="center"              width="3%" visible="@bind(vm.visiblesPlanificar)"/>
				<listheader label="Fecha"       sort="" width="13%"/>
				<listheader label="Equipo"      sort="" width="12%"/>
				<listheader label="Hora Inicio"         width="12%"/>
				<listheader label="Hora Fin"            width="12%"/>
				<listheader label="Estatus"             width="14%"/>				
				<listheader label=""					width="24%"/>
			</listhead>
			
			<template name="model">
	        <listitem>
	            <listcell/>
				<listcell label="@load(vm.formatearFecha(each.fecha))" />				
				<listcell label="@load(vm.concatenar(each.equipo.categoria.nombre,each.equipo.rango.descripcion))" />
				<listcell label="@load(vm.formatearHora(each.horaInicio))" />
				<listcell label="@load(vm.formatearHora(each.horaFin))" />
				<listcell label="@load(vm.descripcionEstatus(each.estatus))" />
				<listcell>
					<div align="center">
						<hbox>
							<button label="Editar"   image="/source/images/iconos/ic_editar.png"   onClick="@command('editar',practicaEditar=each)" tooltiptext="Editar" visible="@bind(vm.visiblesPlanificar)"/>
							<button label="Eliminar" image="/source/images/iconos/ic_eliminar.png" onClick="@command('eliminar',practicaEliminar=each)" tooltiptext="Eliminar" visible="@bind(vm.visiblesPlanificar)"/>
							<button label="@load((each.estatus==1) ? 'Editar' : 'Evaluar')" image="/source/images/iconos/ic_editar.png"   onClick="@command('evaluar',practicaEvaluar=each)" tooltiptext="@load((each.estatus==1) ? 'Editar Evaluacion' : 'Evaluar')" visible="@bind(vm.visiblesControl)"/>
						</hbox>
					</div>
				</listcell>
			</listitem>
			</template>
			</listbox>
			<paging onPaging="@global-command('paginar')" activePage="@bind(vm.paginaActual)" totalSize="@bind(vm.registrosTotales)" pageSize="@bind(vm.tamanoPagina)"/>
		
</vbox>
</window>
</zk>