<?page title="Lista Juego" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="wdwGestionDeportivaListaJuego" title="Registrar Juegos" border="normal" closable="true" height="100%" 
		apply="org.zkoss.bind.BindComposer" maximizable="true"
		viewModel="@id('vmListaJuego') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMListaJuego')">
		
		<vbox vflex="1">
		
		    <toolbar>
			   <button image="/source/images/iconos/ic_agregar.png"  id="btn_gestiondeportiva_listajuego_agregar"  label="Agregar"  onClick="@command('agregarJuego')"/>
		    </toolbar>
		
			<listbox id= "lstGestionDeportivaListaJuegoLista" model="@load(vmListaJuego.listaJuegos)"  checkmark= "false" multiple= "false" 
					hflex="true" height="100%" emptyMessage="No hay Juegos Registrados que cumplan el Criterio">
        	    <auxhead sclass="category-center">
			        <auxheader>
			            <image src="/source/images/funnel.png" />
			            <textbox  instant="true" width="80%" value="@bind(vmListaJuego.nombreCompetencia)" tooltiptext="Introduzca un Nombre clave para la Competencia" />
			        </auxheader>
			        <auxheader colspan="1">
			             <image src="/source/images/funnel.png" />
			            <datebox id="dtb_fechacompetencia_listajuego" format="dd/MM/yyyy" instant="true" width="80%" value="@bind(vmListaJuego.fechaCompetencia)" tooltiptext="Introduzca una Fecha clave para el juego"/>
			        </auxheader>
			        <auxheader colspan="1">
			            <image src="/source/images/funnel.png" />
			            <textbox instant="true" width="80%" value="@bind(vmListaJuego.participantes)" tooltiptext="Introduzca un Participante clave para el Juego"/>
			        </auxheader>
			        <auxheader colspan="1">
			            <image src="/source/images/funnel.png" />
			            <combobox  id="cboResultadoJuego"  model="@load(vmListaJuego.listaResultados)" autodrop="true" mold="rounded" width="80%" 
								   selectedItem="@bind(vmListaJuego.resultado)" readonly="true">
							<template name="model">
							   <comboitem label="@load(vmListaJuego.formatearResultado(each))" />
							</template>
						 </combobox>
			        </auxheader>
		            <auxheader colspan="1">
		                <button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('ejecutarFiltro')"/>
			            <button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		            </auxheader>
		        </auxhead>
				<listhead>
					<listheader label="Competencia" width="23%" />
					<listheader label="Fecha" 			  />			
					<listheader label="Participantes" width="23%"  />
					<listheader label="Resultado" width="15%"  />
					<listheader label="Opciones" width="25%"/> 
				</listhead>
				<template name="model"> 
					<listitem>
					    <listcell label="@load(each.competencia.nombre)" />			 
						<listcell label="@load(vmListaJuego.formatearFechaJuego(each))" />
						<listcell label="@load(vmListaJuego.formatearParticipantes(each))"/>
						<listcell label="@load(vmListaJuego.formatearResultado(each.resultado))" style="@load(vmListaJuego.formatearEstiloResultado(each.resultado))"/>
						<listcell>		          							
		                    <button image="/source/images/iconos/ic_editar.png"   label="Editar"   hflex="1" onClick="@command('editarJuego',juegoEditar=each)" visible="@load(vmListaJuego.visualizarEditar(each))"/>
               			</listcell>
					</listitem>
				</template> 
			</listbox>
			<paging onPaging="@global-command('paginarJuego')" activePage="@bind(vmListaJuego.paginaActual)" totalSize="@bind(vmListaJuego.registrosTotales)" pageSize="@bind(vmListaJuego.tamanioPagina)"/>
		</vbox>
</window>
</zk>