<?page title="Lista Juego" contentType="text/html;charset=UTF-8"?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="wdwGestionDeportivaListaJuegoResultado" title="Registrar Resultado Juegos" border="normal" closable="true" height="100%" 
		apply="org.zkoss.bind.BindComposer" maximizable="true"
		viewModel="@id('vmListaJuegoResultado') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMListaJuegoResultado')">
		
		<vbox vflex="1">
		
			<listbox id= "lstGestionDeportivaListaJuegoResultadoLista" model="@load(vmListaJuegoResultado.listaJuegos)"  checkmark= "false" multiple= "false" 
					hflex="true" height="100%" emptyMessage="No hay Juegos Registrados que cumplan el Criterio">
        	    <auxhead sclass="category-center">
			        <auxheader>
			            <image src="/source/images/funnel.png" />
			            <textbox  instant="true" width="80%" value="@bind(vmListaJuegoResultado.nombreCompetencia)" tooltiptext="Introduzca un Nombre clave para la Competencia" />
			        </auxheader>
			        <auxheader colspan="1">
			             <image src="/source/images/funnel.png" />
			            <datebox id="dtbFechaJuegoResultado" format="dd/MM/yyyy" constraint="No Future" instant="true" width="80%" value="@bind(vmListaJuegoResultado.fechaCompetencia)" tooltiptext="Introduzca una Fecha clave para el juego"/>
			        </auxheader>
			        <auxheader colspan="1">
			            <image src="/source/images/funnel.png" />
			            <textbox instant="true" width="80%" value="@bind(vmListaJuegoResultado.participantes)" tooltiptext="Introduzca un Participante clave para el Juego"/>
			        </auxheader>
		            <auxheader colspan="1">
		                <button image="/source/images/iconos/ic_filtro.png"   label="Filtrar"  onClick="@command('ejecutarFiltro')"/>
			            <button image="/source/images/iconos/ic_cancelar2.png" label="Cancelar" onClick="@command('cancelarFiltro')"/>
		            </auxheader>
		        </auxhead>
				<listhead>
					<listheader label="Competencia" width="25%" />
					<listheader label="Fecha" 			  />			
					<listheader label="Participantes" width="28%"  />
					<listheader label="Opciones" width="27%"/> 
				</listhead>
				<template name="model"> 
					<listitem>
					    <listcell label="@load(each.competencia.nombre)" />			 
						<listcell label="@load(vmListaJuegoResultado.formatearFechaJuego(each))" />
						<listcell label="@load(vmListaJuegoResultado.formatearParticipantes(each))"/>
						<listcell>		          							
		                    <button image="/source/images/iconos/ic_editar.png"   label="Editar Resultado"   hflex="1" onClick="@command('editarJuego',juegoEditarResultado=each)"/>
               			</listcell>
					</listitem>
				</template> 
			</listbox>
			<paging onPaging="@global-command('paginarJuegoResultado')" activePage="@bind(vmListaJuegoResultado.paginaActual)" totalSize="@bind(vmListaJuegoResultado.registrosTotales)" pageSize="@bind(vmListaJuegoResultado.tamanioPagina)"/>
		</vbox>
</window>
</zk>