<?page title="Guardar Competencia" contentType="text/html;charset=UTF-8"?>
<zk>
<window title="Registrar Competencia" border="normal" width="900px" height="550px" closable="true" 
		maximizable="true" apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('edu.ucla.siged.viewmodel.gestiondeportiva.VMregistrarcompetencia')">
<vbox vflex="1">	
	<tabbox>
		    <tabs>
		        <tab label="Informacion"/>
		        <tab label="Juegos"/>
		        <tab label="Participacion Equipos"/>
		    </tabs>
		    <tabpanels>
		        <tabpanel><include src="/vistas/gestiondeportiva/panelregcompetencia_informacion.zul"/></tabpanel>
		        <tabpanel><include src="/vistas/gestiondeportiva/panelregcompetencia_juegos.zul"/></tabpanel>
		        <tabpanel><include src="/vistas/gestiondeportiva/panelregcompetencia_particequipos.zul"/></tabpanel>
		    </tabpanels>
   </tabbox>
</vbox>
<toolbar align="end">
	<toolbarbutton label=""/>
		<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="" tooltip="btnGrabar"/>
	  	<button image="/source/images/iconos/ic_cancelar.png" label="Cancelar" onClick="" tooltip="btnCancelar"/>
</toolbar>
</window>
</zk>