<?page title="" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="vistaCambioPassword" title="Perfil del Usuario"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer"  
  		    viewModel="@id('vmCambioPassword') @init('edu.ucla.siged.viewmodel.seguridad.VMCambioPassword')">
	<vbox vflex="1">
		<tabbox>
			<tabs>
				<tab id= "tabPerfilUsuario" label="Datos del Usuario" 	/>
				<tab id= "tabCambiarPassword" label="Cambiar Password"	/>
			</tabs>
				<tabpanels>
	 				<tabpanel>				
 					 	<grid>
							<rows>	
								<row spans="1,1,1,1">
									<label value="Cédula:" />	
									<div align="left">	
									<textbox id="txtCedulaUsuario" value="@bind(vmCambioPassword.usuario.cedula)" width="80%" disabled="true" class="usuarioRestriccion"/>
									</div>					
									<div align="center">
										 <image id="imagenUsuario" height="65px" width="60px" content="@bind(vmCambioPassword.imagenT)" /> 
										 <button id="btnFotoUsuario" src="/source/images/iconos/ic_persona.png" label="Subir Imagen" upload="true" onUpload="@command('subirImagen', upload=event)"  /> 
									</div>
								</row>
								<row spans="1,1,1,1">
									<label value="Nombre:"/>
									<textbox id="txtNombre" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" width="100%" value="@bind(vmCambioPassword.usuario.nombre)" disabled="true" class="usuarioRestriccion"/>
									<label value="Apellido:"/>
									<textbox id="txtApellido" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" value="@bind(vmCambioPassword.usuario.apellido)" disabled="true" class="usuarioRestriccion"/>
								</row>
								<row spans="1,1,1,1">
									<label value="Fecha de Nacimiento:" />
									<datebox id="dtbFechaNacimiento" format="dd/MM/yyyy" value="@bind(vmCambioPassword.usuario.fechaNacimiento)" disabled="true" class="usuarioRestriccion"/>
									<label value="Fecha Registro:"/>
									<datebox id="dtbFechaRegistro" format="dd/MM/yyyy" disabled="true" value="@bind(vmCambioPassword.usuario.fechaRegistro)" class="usuarioRestriccion"/>
								</row>
								<row spans="1,1,1,1">
									<label value="Celular"/>
									<textbox id="txtCelular" constraint="no empty, /[0-9]+/: Ingrese sólo números" width="100%" value="@bind(vmCambioPassword.usuario.celular)" maxlength="15" class="usuarioRestriccion"/>
									<label value="Telefono" />
									<textbox id="txtTelefono" constraint="no empty, /[0-9]+/: Ingrese sólo números" value="@bind(vmCambioPassword.usuario.telefono)" maxlength="15" class="usuarioRestriccion"/>
								</row>
								<row spans="1,3">
									<label value="Nombre Usuario:"/>
									<textbox id="txtNombreUsuario" constraint="no empty" value="@bind(vmCambioPassword.usuario.nombreUsuario)" disabled="true" class="usuarioRestriccion"/>
								</row>
								<row spans="1,3">
									<label value="email:"/>
									<textbox id="txtEmail" constraint="no empty, /.+@.+\.[a-z]+/: Ingrese correo válido" value="@bind(vmCambioPassword.usuario.email)" class="usuarioRestriccion" maxlength="255"/>
								</row>
								<row spans="1,1,1,1">  
									<label value="Pregunta Secreta:"/>
									<combobox id="cmbListaPreguntas" readonly="true" autodrop="true" tooltip="Seleccione Pregunta"
									 	width="80%" selectedItem="@bind(vmCambioPassword.usuario.preguntaSecreta)" constraint="no empty" class="usuarioRestriccion"
									    model="@load(vmCambioPassword.listaPreguntas)" value="@load(vmCambioPassword.usuario.preguntaSecreta)">
				                	</combobox>	
				                	<label value="Respuesta:"/>
									<textbox id="txtRespuesta" constraint="no empty" width="100%" value="@bind(vmCambioPassword.usuario.respuestaSecreta)" maxlength="255" class="usuarioRestriccion"/>
								 </row>		
							</rows>
						</grid>  	
					</tabpanel>
		
					<tabpanel>
						<grid>
							<rows>	
								<row spans="1,1">
									<label value="Nombre Usuario:"/>
									<textbox id="txtUsuario" constraint="no empty" value="@bind(vmCambioPassword.usuario.nombreUsuario)" disabled="true"/>
								 </row>	
								 <row>
									<label value="Password Anterior:"/>
									<textbox id="txtPasswordAnterior" constraint="no empty" type= "password" value="@bind(vmCambioPassword.passwordAnterior)"/>
								</row>
								<row>
									<label value="Nuevo Password:"/>
									<textbox id="txtPasswordNuevo" constraint="no empty" type= "password" value="@bind(vmCambioPassword.passwordNuevo)"/>
								</row> 
								<row>
									<label value="Confirme nuevo Password:"/>
									<textbox id="txtConfirmacionPasswordNuevo" constraint="no empty" type= "password" value="@bind(vmCambioPassword.confirmacionPasswordNuevo)"/>
								</row> 
							</rows>
						</grid>  	
					</tabpanel>
				</tabpanels>		
			</tabbox>	
		</vbox>
<toolbar align="end">
	<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarPerfilUsuario') @global-command('refrescar')"/>
  	 <button id="btnCancelarPerfil" image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiarPerfilUsuario')"/>
 </toolbar>
</window>
</zk>