<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk>
<window id="vistaFuncionalidad" title="Registrar Funcionalidad" border="normal" width="900px" height="550px" 
		maximizable="true" closable="true" position="center,center" apply="org.zkoss.bind.BindComposer"
		 viewModel="@id('vmFuncionalidad') @init('edu.ucla.siged.viewmodel.seguridad.VMFuncionalidad')">  
<vbox vflex="1">
	<grid hflex="true">
		<rows>
			<row spans="1,1">
				<label value="Nombre:"/>
				<textbox id="txtNombre"  value="@bind(vmFuncionalidad.funcionalidad.nombre)"  width="80%" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" class="funcionalidadRestriccion"/>
			</row>
			<row spans="1,1">
				<label value="Descripcion:"/>
				<textbox id="txtDescripcion"  value="@bind(vmFuncionalidad.funcionalidad.descripcion)"  width="80%" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" class="funcionalidadRestriccion"/>
			</row>	
			<row spans="1,1">
				<label value="Ruta:"/>
				<textbox id="txtRuta"  value="@bind(vmFuncionalidad.funcionalidad.ruta)"  width="80%" constraint="no empty" class="funcionalidadRestriccion"/>
			</row>	
			<row spans="1,1">
				<label value="Vínculo:"/>
				<textbox id="txtVinculo"  value="@bind(vmFuncionalidad.funcionalidad.vinculo)"  width="80%" constraint="no empty" class="funcionalidadRestriccion"/>
			</row>
			<row spans="1,1">
				<label value="Id Padre:"/>
				<textbox id="txtIdPadre" constraint="no empty, /[0-9]+/: Ingrese sólo números" value="@bind(vmFuncionalidad.funcionalidad.idPadre)" width="80%" class="funcionalidadRestriccion"/>
			</row>
			<row>
				<label value="Estatus:"/>
				<combobox id="cmbEstatus" readonly="true" autodrop="true" tooltip="Seleccione Estatus" disabled="@load(vmFuncionalidad.activarEstatus)"
						 	width="80%" selectedItem="@bind(vmFuncionalidad.estatusSeleccionado)"
						    model="@load(vmFuncionalidad.listaEstatus)" value="@load(vmFuncionalidad.funcionalidad.descripcionEstatus)">
		          	<template name="model">
		            	<comboitem label="@load(vmFuncionalidad.verStatus(each))"/>
		          	</template>
	          	</combobox>	
			</row>
		</rows>
	</grid>
</vbox>
<toolbar align="end">
	<button image="/source/images/iconos/ic_guardar.png"  label="Grabar"   id="btnGrabar"  onClick="@command('guardarFuncionalidad')  @global-command('actualizarLista')"/>
	<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" id="btnLimpiar" onClick="@command('limpiarFuncionalidad')"/>
</toolbar>
</window>
</zk>


