<?page title="" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="vistaRecuperarPassword" title="Recuperar Password"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer"  
  		    viewModel="@id('vmRecuperarPassword') @init('edu.ucla.siged.viewmodel.seguridad.VMRecuperarPassword')">
		<vbox vflex="1">			
 			<grid vflex="1">
				<columns>
					<column width="50%"/>
					<column width="50%"/>
					
				</columns>
				<rows>	
					<row spans="1,1">
						<label value="Nombre Usuario:"/>
						<div>
						<textbox id="txtNombreUsuario" constraint="no empty" value="@bind(vmRecuperarPassword.usuario.nombreUsuario)" disabled="false" />
						<button image="/source/images/iconos/ic_adelante.png" label="Continuar" onClick="@command('continuarRecuperacion')" visible="@load(!vmRecuperarPassword.activaDatos)"/>
						</div>
					</row>
					<row spans="1,1">
						<label value="email:"  visible="@load(vmRecuperarPassword.activaDatos)"/>
						<textbox id="txtEmail" constraint="no empty, /.+@.+\.[a-z]+/: Ingrese correo válido" value="@bind(vmRecuperarPassword.email)" 
						visible="@load(vmRecuperarPassword.activaDatos)"/>
					</row>
					<row spans="1,1">  
						<label value="Pregunta Secreta:" visible="@load(vmRecuperarPassword.activaDatos)"/>
						<textbox id="txtPreguntaSecreta" constraint="no empty" value="@bind(vmRecuperarPassword.usuario.preguntaSecreta)" disabled="true"
						visible="@load(vmRecuperarPassword.activaDatos)"/>
	                </row>
	                <row>
	                	<label value="Respuesta:" visible="@load(vmRecuperarPassword.activaDatos)"/>
						<textbox id="txtRespuesta" constraint="no empty" width="100%" value="@bind(vmRecuperarPassword.respuestaSecreta)" 
						visible="@load(vmRecuperarPassword.activaDatos)"/>
						
					 </row>		
					</rows>
				</grid>  	
			
	
		</vbox>
		<toolbar align="end">
			<toolbarbutton label=""/>
				<button image="/source/images/iconos/ic_enviar.png" label="Enviar" onClick="@command('enviarRecuperacionPassword')" visible="@load(vmRecuperarPassword.activaDatos)"/>
		</toolbar>
	</window>
</zk>