<?page title="" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="vistaUsuario" title="Registrar Usuario"  border="normal" width="900px" height="550px" closable="true"  maximizable="true"
  		    apply="org.zkoss.bind.BindComposer"  
  		    viewModel="@id('vmUsuario') @init('edu.ucla.siged.viewmodel.seguridad.VMUsuario')">
		<vbox vflex="1">
			<tabbox>
				<tabs>
					<tab id= "tabUsuario" label="Datos del Usuario" 	/>
					<tab id= "tabRolUsuario" label="Roles del Usuario"	/>
				</tabs>
				<tabpanels>
	 				<tabpanel>				
 					 	<grid>
				<rows>	
					<row spans="1,1,1,1">
						<label value="Cédula:" />	
						<div align="left">	
						<combobox id="cmbcedula" autocomplete="true" width="30%" readonly="true" autodrop="true" tooltip="Seleccione"
						 	selectedItem="@bind(vmUsuario.nacionalidadSeleccionada)" model="@load(vmUsuario.listaNacionalidad)" >
						</combobox>
						<textbox id="txtCedulaUsuario" constraint="no empty, /[0-9]+/: Ingrese sólo números" value="@bind(vmUsuario.cedula)" maxlength="10" width="50%" class="usuarioRestriccion"/>
						<image src="/source/images/iconos/ic_buscar.png" width="10%" onClick="@command('buscarUsuario')"  style="background: #4983A3; " visible="@load(vmUsuario.nuevo)" />
						</div>					
						<div align="center">
							 <image id="imagenUsuario" height="65px" width="60px" content="@bind(vmUsuario.imagenT)" /> 
							 <button id="btnFotoUsuario" src="/source/images/iconos/ic_persona.png" label="Subir Imagen" upload="true" onUpload="@command('subirImagen', upload=event)"  /> 
						</div>
					</row>
					<row spans="1,1,1,1">
						<label value="Nombre:"/>
						<textbox id="txtNombre" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" maxlength="150" width="100%" value="@bind(vmUsuario.usuario.nombre)" class="usuarioRestriccion"/>
						<label value="Apellido:"/>
						<textbox id="txtApellido" constraint="no empty, /[A-Z,' ',a-z]+/: Ingrese sólo letras" maxlength="150" value="@bind(vmUsuario.usuario.apellido)" class="usuarioRestriccion"/>
					</row>
					<row spans="1,1,1,1">
						<label value="Fecha de Nacimiento:" />
						<datebox id="dtbFechaNacimiento" format="dd/MM/yyyy" value="@bind(vmUsuario.usuario.fechaNacimiento)" constraint="no empty, no future: Fecha no válida" class="usuarioRestriccion" readonly="true"/>
						<label value="Fecha Registro:"/>
						<datebox id="dtbFechaRegistro" format="dd/MM/yyyy" disabled="true" value="@bind(vmUsuario.usuario.fechaRegistro)" class="usuarioRestriccion"/>
					</row>
					<row spans="1,1,1,1">
						<label value="Celular"/>
						<textbox id="txtCelular" constraint="no empty, /[0][2|4][0-9]{2}-[0-9]{7}/: Ingrese sólo números" maxlength="15" width="100%" value="@bind(vmUsuario.usuario.celular)" class="usuarioRestriccion"/>
						<label value="Telefono" />
						<textbox id="txtTelefono" constraint="no empty, /[0][2|4][0-9]{2}-[0-9]{7}/: Ingrese sólo números" maxlength="15" value="@bind(vmUsuario.usuario.telefono)" class="usuarioRestriccion"/>
					</row>
					<row spans="1,3">
						<label value="Nombre Usuario:"/>
						<textbox id="txtNombreUsuario" constraint="no empty" value="@bind(vmUsuario.usuario.nombreUsuario)"  maxlength="15" class="usuarioRestriccion"/>
					</row>
					<row spans="1,3">
						<label value="email:"/>
						<textbox id="txtEmail" constraint="no empty, /.+@.+\.[A-Z]+/: Ingrese correo válido, sólo mayúsculas" maxlength="255" value="@bind(vmUsuario.usuario.email)" class="usuarioRestriccion"/>
					</row>
					<row spans="1,1,1,1">
						<label value="Password:"/>
						<div>
						<textbox id="txtPassword" constraint="no empty" width="50%" type= "password" maxlength="256" value="@bind(vmUsuario.usuario.password)" class="usuarioRestriccion"/>
						<button image="/source/images/iconos/ic_generar.png"   onClick="@command('generarPassword')" />
					    </div>   
					    <label value="Estatus:"/>
						<combobox id="cmbEstatus" readonly="true" autodrop="true" tooltip="Seleccione Estatus" disabled="@load(vmUsuario.activarEstatus)"
						 	width="80%" selectedItem="@bind(vmUsuario.estatusSeleccionado)"
						    model="@load(vmUsuario.listaEstatus)" value="@load(vmUsuario.verStatus(vmUsuario.estatusSeleccionado))">
		          	     <template name="model">
		            	   <comboitem label="@load(vmUsuario.verStatus(each))"/>
		          	     </template>
	                	</combobox>	
					 </row>		
					</rows>
				</grid>  	
			
			</tabpanel>
		
			<tabpanel>
			<grid>
				<rows >
					<row spans="1,1,1">
						<label value="Rol"/>
						<combobox id="cmbRoles" readonly="true" autodrop="true"
								width="80%" model="@load(vmUsuario.listaRoles)"
						        selectedItem="@bind(vmUsuario.rolSeleccionado)">
								<template name="model">
						  		 	<comboitem label="@load(each.nombre)" /> 
						  		</template>
						</combobox>	
						<button image="/source/images/iconos/ic_agregar.png"  label="Agregar"  id="btnAgregar"  onClick="@command('agregarRolUsuario')" />
					</row>				
				</rows>
			</grid>
				<toolbar>		
					<button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" id="btnEliminar" onClick="@command('eliminarRolesUsuario2')" />
				</toolbar>
				<listbox id="listbox" model="@bind(vmUsuario.listaRolesUsuario)" height="300px" checkmark="true" multiple="true" 
					         mold="paging" pageSize="10" emptyMessage="No hay roles registrados para el usuario"
					         selectedItems="@bind(vmUsuario.rolesUsuarioSeleccionados)">

						<listhead>
							<listheader align="center"	  			width="5%" />
             				<listheader label="Rol" 				width="25%"/>
				            <listheader label="Fecha Registro"  	width="15%"/>
				            <listheader label="Fecha Eliminación"  	width="15%"/>
				            <listheader label="Estatus"  width="15%"/>
				            
				            <listheader label="Opciones"/>
						</listhead>
        
        				<template name="model" var="rolUsuario">
					    <listitem>
					    	<listcell/>
					     	<listcell label="@bind(rolUsuario.rol.nombre)"/>
							<listcell label="@load(vmUsuario.cambiarFormatoFecha(rolUsuario.fechaRegistro))"/>
						    <listcell label="@load(vmUsuario.cambiarFormatoFecha(rolUsuario.fechaEliminacion))"/>
						    <listcell label="@load(vmUsuario.verStatus(rolUsuario.estatus))"/>						    
						  	<listcell>			        
					            <button image="/source/images/iconos/ic_eliminar.png" label="Eliminar" onClick="@command('eliminarRolUsuario', rolUsuarioSeleccionado=rolUsuario)"/>
					       	</listcell>        
					    </listitem>
        				</template>
    				</listbox>
				</tabpanel>
			</tabpanels>		
		</tabbox>	
	</vbox>
<toolbar align="end">
		<button image="/source/images/iconos/ic_guardar.png" label="Grabar" onClick="@command('guardarUsuario') @global-command('actualizarLista')" />
  	 	<button image="/source/images/iconos/ic_limpiar.png" label="Limpiar" onClick="@command('limpiarUsuario')"  />
 </toolbar>
	</window>
</zk>